<% content_for :head do %>
<%= javascript_include_tag 'jquery_ujs' %>
<link href="/assets_doc/registrations/css/lightbox.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" media="screen" href="/assets_doc/front/html/css/colorbox.css" />
<script src="/assets_doc/front/html/js/jquery.colorbox.js"></script>
<script src="/assets_doc/front/html/js/script.js"></script>
<script src="/assets_doc/front/html/js/tabslide.js"></script>
<script>
	$(document).ready(function(){
		var winWidth;
    if (window.innerWidth)
      winWidth = window.innerWidth;
    else if ((document.body) && (document.body.clientWidth)) {
      winWidth = document.body.clientWidth;
    }
	//Examples of how to assign the Colorbox event to elements
		if(winWidth > 1300){
			$(".health01").colorbox({iframe:true, innerWidth:1300, innerHeight:630});
		}
		if(winWidth > 767 & winWidth < 1300){
			$(".health01").colorbox({iframe:true, innerWidth:768, innerHeight:630});
		}
		if(winWidth < 767){
			{$(".health01").removeClass("cboxElement");}
		}
		$(".callbacks").colorbox({
			onOpen:function(){ alert('onOpen: colorbox is about to open'); },
			onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
			onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
			onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
			onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
		});

		$('.non-retina').colorbox({rel:'group5', transition:'none'})
		$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
		//Example of preserving a JavaScript event for inline calls.
		$("#click").click(function(){ 
			$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
			return false;
		});
	});
</script>
<% end %>
<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="im_banner pad_none sp_none"></div>
<div class="pad_block sp_none"><img src="/assets_doc/front/html/images/intellectual_r1_c1_pad.jpg" width=100%></div>
<div class="sp_block"><img src="/assets_doc/front/html/images/intellectual_sp.png" class="sp_w100"></div>
<div class="news_content clearfix">
  <%= render partial: "product_left" %>
  <div class="product_right">
    <p class="current sp_none"><a href="/index.html">首页</a> > <a href="/userscenter/intellectual/intellectual.php">智测会</a> >产品注册・注册产品列表</p>
    <%= render partial: "main" %>
    <% if @registrations.size > 0 %>
      <%= render partial: "registered" %>
    <% end %>
  </div>
</div>
<p class="m_top45">&nbsp;</p>
<script type="text/javascript" src="/assets_doc/registrations/js/lightbox.js"></script>
<%= render partial: "shared/footer" %>
