<% content_for :head do %>
<link href="/userscenter/css/style.css" rel="stylesheet" type="text/css" />
<link href="/userscenter/css/registration.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/userscenter/js/scrollsmoothly.js"></script>
<%= javascript_include_tag 'application' %>
<% end %>
<%= render partial: "shared/top_header" %>
<div class="im_banner"></div>
<div class="news_content clearfix">
  <%= render partial: "product_left" %>
  <div class="product_right">
    <p class="current"><a href="/index.html">首页</a> > <a href="/userscenter/intellectual/intellectual.php">智测会</a> >製品ユーザ登録・登録製品リスト </p>
    <%= render partial: "main" %>
    <% if @registrations.size > 0 %>
      <%= render partial: "registered" %>
    <% end %>
  </div>
</div>
<p class="m_top45">&nbsp;</p>
<%= render partial: "shared/footer" %>
