<p class="hioki_page"><a href="#top"><%= image_tag "front/hioki_r28_c37.jpg", width: 60, height: 57 %></a></p>
<div class="hioki_column">
  <div class="hioki_search clearfix">
    <div class="hioki_column01">
      <h3 class="hioki_f23">业界商品分类 <span class="hioki_f15">Search Applications</span></h3>
      <ul class="m_top25">
        <li>&gt; <a href="/industries/1">电力/新能源 <span class="hioki_f12">Power, Energy, Environment</span></a></li>
        <li class="m_top10">&gt; <a href="/industries/2">汽车 <span class="hioki_f12">Automotive, Transport</span></a></li>
        <li class="m_top10">&gt; <a href="/industries/3">电子零件 <span class="hioki_f12">Components, Semiconductors</span></a></li>
        <li class="m_top10">&gt; <a href="/industries/4">电池 <span class="hioki_f12">Battery</span></a></li>
        <li class="m_top10">&gt; <a href="/industries/5">交通（地铁、铁道、航空）<br />　<span class="hioki_f12">Underground, Railway, Aviation</span></a></li>
        <li>&nbsp;</li>
      </ul>
    </div>
    <div class="hioki_column02 clearfix">
      <h3 class="hioki_f23">日置产品一览 <span class="hioki_f15">Search Category</span></h3>
      <%= render partial: "shared/root_categories" %>
    </div>
    <div class="hioki_column03">
      <h3 class="hioki_f23">关于日置 <span class="hioki_f15">About HIOKI</span></h3>
      <ul class="m_top25">
				<li><a href="/distribution.html">&gt; 公司分布</a></li>
        <li class="m_top10"><a href="/speech.html">&gt; 董事致辞</a></li>
        <li class="m_top10"><a href="/company.html">&gt; 公司概要</a></li>
        <li class="m_top10"><a href="/history.html">&gt; 公司沿革</a></li>
      </ul>
      <p class="hioki_column03_wx"><%= image_tag "front/hioki_r29_c28.jpg", width: 385, height: 155 %></p>
    </div>
  </div>
</div>
<div class="footer clearfix">
  <h1 class="fl"><%= image_tag "front/hioki_r30_c2.jpg", width: 220, height: 30 %></h1>
  <p class="footer_dh"><%= image_tag "front/hioki_r31_c14.jpg", width: 17, height: 17 %> 400-920-6010</p>
  <p class="footer_dh"><%= image_tag "front/hioki_r32_c18.jpg", width: 157, height: 17 %></p>
  <p class="footer_dh">日置(上海)商贸有限公司</p>
  <ul class="fr">
    <li><a href="/index.html">&gt; 首　页</a></li>
    <li><a href="/news.html">&gt; 新　闻</a></li>
    <li><a href="/industries/1/products">&gt; 产品一览</a></li>
    <li><a href="/company.html">&gt; 公司介绍</a></li>
    <li><a href="/contact.html">&gt; 联系我们</a></li>
    <li><a href="/repair.html">&gt; 维修中心</a></li>
    <li><a href="/recruit.html">&gt; 招聘信息</a></li>
  </ul>
  <p class="footer_icp clear"><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备05013343号</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102003490" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/assets_doc/images/gongan_icon.png" style="float:left;"/><span style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备 31010102003490号</span></a></p>

</div>
