<script type="text/javascript">
$(document).ready(function(){
j_setTab("img_handle","a","show","img-show","li","hover",4000,false,false,40,false,false,1,true);
});
</script>
<div class="img-scroll all-bot">
  <ul id="img-show"> 
    <li style="background:url(<%= asset_path 'front/hioki_r7_c6.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c1.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c2.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c3.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c4.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c5.jpg' %>) no-repeat center top"></li>
  </ul>
</div>

<div class="hioki_promotion">
<a href="/html/sale/">
  <%= image_tag "front/hioki_promotion.jpg", width: 290, height: 245 %>
</a>
<a class="hioki_promotion_x">
  <%= image_tag "front/hioki_promotion_x.jpg", width: 26, height: 26 %>
</a>
<p>
<%= image_tag "front/hioki_promotion_bt.jpg", width: 59, height: 245 %>
</p>
</div>
