<a name="top" id="top"></a>
<div class="sidebar_search sp_none pad_none">
	<dl>
		<dt class="fl"><%= image_tag "front/sidebar_search01.png", width: 75 %></dt>
		<dd>
			<h3>HIOKI商品搜索</h3>
			<%= form_tag "/products", method: :get, id: "search_form", name: "search_form" do %>
			<label>
				<input type="text" name="search" value="输入商品名・关键字进行搜索" onfocus="if(value=='输入商品名・关键字进行搜索'){value=''}" onblur="if(value==''){value='输入商品名・关键字进行搜索'}" /><input name="" onclick="$('#search_form').submit()" type="button" /></label>
			<p><input name="is_deleted" type="checkbox" value="1" />包含已停产的产品</p>
			<% end %>
		</dd>
	</dl>
</div>
<div class="sidebar_search02 sp_none pad_none" id="land_pc">
	<dl>
		<dt class="fl"><%= image_tag "front/sidebar_search11.png", width: 75 %></dt>
		<% if !session[:user_name].present? %>
		<%= form_tag "sessions/", id: "login_form" do |f| %>
		<dd>
			<label>用户名 <input type="text" id="email" name="email" value="<%= params[:email] %>" /></label>
			<label>密　码 <input type="password" id="password" name="password" value="<%= params[:password] %>" /></label>
			<ul class="m_top15">
      	<li><input name="" type="" value="登录" class="sidebar_ld" id="login_button"/></li>
				<li><a href="/userscenter/register.php" class="sidebar_ld">注册</a></li>
				<li><a href="/userscenter/retake_password.php">忘记密码</a></li>
			</ul>
		</dd>
		<% end %>
		
		<% else %>
		<dd>
			<p class="sidebar_p recorder_f18"><%= session[:user_name] %>，HIOKI欢迎您</p>
                        <ul class="m_top15">
                          <li>
                        <a href="/userscenter/intellectual/intellectual.php" class="sidebar_ld" >会员中心</a>
                        </li>
                        <li>
                        <a href="/sessions/logout" class="sidebar_ld" data-method="delete" data-confirm="确认退出吗?">退出登录</a>
                        </li>
                      </ul>
    </dd>
		<% end %>
	</dl>
</div>
