<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ul class="carousel-inner">
    <li class="item active" style="background:url(<%= asset_path 'front/hioki_r7_c1.jpg' %>) no-repeat center top"></li>
    <li class="item" style="background:url(<%= asset_path 'front/hioki_r7_c2.jpg' %>) no-repeat center top"></li>
    <li class="item" style="background:url(<%= asset_path 'front/hioki_r7_c3.jpg' %>) no-repeat center top"></li>
    <li class="item" style="background:url(<%= asset_path 'front/hioki_r7_c4.jpg' %>) no-repeat center top"></li>
    <li class="item" style="background:url(<%= asset_path 'front/hioki_r7_c5.jpg' %>) no-repeat center top"></li>
  </ul>
</div>
