<div id="myjQuery">
  <ul id="myjQueryContent">
    <li style="background:url(<%= asset_path 'front/hioki_r7_c1.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c2.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c3.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c4.jpg' %>) no-repeat center top"></li>
    <li style="background:url(<%= asset_path 'front/hioki_r7_c5.jpg' %>) no-repeat center top"></li>
  </ul>
</div>
