<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="company_banner"></div>
<div class="news_content clearfix">
  <div class="product_left" >
	<h3>公司介绍<br /><span class="hioki_f15">Company</span></h3>
	<ul class="m_top10">
	  <li><a href="distribution.html">公司分布</a></li>
	  <li><a href="speech.html">董事长致辞</a></li>
	  <li><a href="company.html">公司概要</a></li>
      <li><a href="history.html">公司沿革</a></li>
	</ul>
  </div>
  <div class="product_right">
  	<p class="current"><a href="../index.html">首页</a> > <a href="company.html">公司介绍</a> > 公司概要</p>
    <h3 class="product_f25 m_top20">公司概要</h3>
    <div class="m_top45 clearfix">
      <div class="company_left">
      	<h3 class="product_f20 recorder_blue">HIOKI的企业目标形象</h3>
        <p class="m_top15">以挑战ONLY ONE，成为高附加值的企业为目标<br />
为了企业的不断发展，在最大限度的发挥每个个体的自我能力的同时，必须是一个优秀的企业市民。<br />
我们将"尊重人性"和"贡献社会"的企业理念作为全体员工的基本价值观，将其具体化则是企业的使命，即社会的责任。因此，我们为了能努力成为所有利益相关者能信赖的人，以及能提供高品质的产品和最优良的服务，而不断挑战ONLY ONE，旨在成为高附加值企业。
        </p>
      </div>
      <p class="left"><%= image_tag "front/company_r4_c3.jpg", width: 350, height: 220 %></p>
    </div>
    <p class="m_top45">&nbsp;</p>
    <p class="t_center"><%= image_tag "front/company_r6_c2.jpg", width: 460, height: 580 %></p>
    <div class="m_top45"><table width="925" border="0" cellspacing="0" cellpadding="0" class="company_table">
  <tr>
    <th bgcolor="#84AED4">公司名称</th>
    <td>日置(上海) 商贸有限公司</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">成立</th>
    <td>2007年4月</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">公司地址</th>
    <td>上海市黄浦区西藏中路268号来福士广场4705室</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">邮编</th>
    <td>200001</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">电话</th>
    <td>021-63910350；63910096,0097,0090,0092</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">传真</th>
    <td>021-63910360</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">邮箱地址</th>
    <td><a href="mailto:info@hioki.com.cn">info@hioki.com.cn</a></td>
  </tr>
</table>
    </div>
  </div>
</div>
<p class="m_top45">&nbsp;</p>
<%= render partial: "shared/footer" %>
