<% content_for :head do %>
<link rel="stylesheet" media="screen" href="/assets_doc/front/html/css/colorbox.css" />
<script src="/assets_doc/front/html/js/jquery.colorbox.js"></script>
<script src="/assets_doc/front/html/js/script.js"></script>
<script src="/assets_doc/front/html/js/tabslide.js"></script>
<script>
	$(document).ready(function(){
		var winWidth;
    if (window.innerWidth)
      winWidth = window.innerWidth;
    else if ((document.body) && (document.body.clientWidth)) {
      winWidth = document.body.clientWidth;
    }
	//Examples of how to assign the Colorbox event to elements
		if(winWidth > 1300){
			$(".health01").colorbox({iframe:true, innerWidth:1300, innerHeight:630});
		}
		if(winWidth > 767 & winWidth < 1300){
			$(".health01").colorbox({iframe:true, innerWidth:768, innerHeight:630});
		}
		if(winWidth < 767){
			{$(".health01").removeClass("cboxElement");}
		}
		$(".callbacks").colorbox({
			onOpen:function(){ alert('onOpen: colorbox is about to open'); },
			onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
			onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
			onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
			onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
		});

		$('.non-retina').colorbox({rel:'group5', transition:'none'})
		$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
		//Example of preserving a JavaScript event for inline calls.
		$("#click").click(function(){ 
			$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
			return false;
		});
	});
</script>
<% end %>
<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="counterfeit_banner pad_none sp_none"></div>
<div class="pad_block"><img src="/assets_doc/front/html/images/counterfeit_r1_c1.jpg" width=100%></div>
<div class="sp_block"><img src="/assets_doc/front/html/images/counterfeit_sp.png" class="sp_w100"></div>
<div class="news_content clearfix">
  <div class="product_left sp_none" >
  <h3>伪造品提示<br /><span class="hioki_f15">Counterfeit</span></h3>
  </div>
  <div class="product_right product_right_sp">
    <p class="current sp_none"><a href="index.html">首页</a> > 伪造品提示</p>
    <h3 class="m_top45 sp_none"><img width="595" height="42" src="/assets_doc/front/html/images/counterfeit_r4_c3.jpg" alt="Counterfeit r4 c3" /></h3>
    <h3 class="sp_block counterfeit_sp_title sp_pl3 sp_mt15">关于假冒伪劣产品的特别提示</h3>
    <p class="m_top30 t_center sp_mt20"><img width="610" height="890" src="/assets_doc/front/html/images/counterfeit_r5_c3.jpg" alt="Counterfeit r5 c3" class="sp_w100"/></p>
    <h3 class="recorder_f16 recorder_red m_top30 sp_pl3">填写以下表格验证正品。</h3>
<script language="javascript">

function check()

{

  var counterfeit_sku = document.getElementById('counterfeit_sku').value;

  if (counterfeit_sku==''){

    alert('请输入产品型号');

    document.getElementById('counterfeit_sku').focus();

    return false;

  }


  var counterfeit_serial_number = document.getElementById('counterfeit_serial_number').value;
  if (counterfeit_serial_number =='')
  {
    alert('请输入产品序列号');
    document.getElementById('counterfeit_serial_number').focus();
    return false;
}

  var counterfeit_username = document.getElementById('counterfeit_username').value;
  if (counterfeit_username =='')
  {
    alert('请输入联系人姓名');
    document.getElementById('counterfeit_username').focus();
    return false;
  }

  var counterfeit_unit_name = document.getElementById('counterfeit_unit_name').value;
  if (counterfeit_unit_name =='')
  {
    alert('请输入单位名称');
    document.getElementById('counterfeit_unit_name').focus();
    return false;
}

  var counterfeit_address = document.getElementById('counterfeit_address').value;
  if (counterfeit_address =='')
  {
    alert('请输入通讯地址');
    document.getElementById('counterfeit_address').focus();
    return false;
}
  var counterfeit_tel = document.getElementById('counterfeit_tel').value;
  if (counterfeit_tel =='')
  {
    alert('请输入联系电话');
    document.getElementById('counterfeit_tel').focus();
    return false;
}

  var counterfeit_email = document.getElementById('counterfeit_email').value;
  if (!/\w{1,}[@][\w\-]{1,}([.]([\w\-]{1,})){1,3}$/.test(counterfeit_email)){
    alert('Email格式不正确');
    document.getElementById('counterfeit_email').focus();
    return false;
  }

}
function sp_block_check()
{

  var sp_counterfeit_sku = document.getElementById('sp_counterfeit_sku').value;

  if (sp_counterfeit_sku==''){

    alert('请输入产品型号');

    document.getElementById('sp_counterfeit_sku').focus();

    return false;

  }


  var sp_counterfeit_serial_number = document.getElementById('sp_counterfeit_serial_number').value;
  if (sp_counterfeit_serial_number =='')
  {
    alert('请输入产品序列号');
    document.getElementById('sp_counterfeit_serial_number').focus();
    return false;
}

  var sp_counterfeit_username = document.getElementById('sp_counterfeit_username').value;
  if (sp_counterfeit_username =='')
  {
    alert('请输入联系人姓名');
    document.getElementById('sp_counterfeit_username').focus();
    return false;
  }

  var sp_counterfeit_unit_name = document.getElementById('sp_counterfeit_unit_name').value;
  if (sp_counterfeit_unit_name =='')
  {
    alert('请输入单位名称');
    document.getElementById('sp_counterfeit_unit_name').focus();
    return false;
}

  var sp_counterfeit_address = document.getElementById('sp_counterfeit_address').value;
  if (sp_counterfeit_address =='')
  {
    alert('请输入通讯地址');
    document.getElementById('sp_counterfeit_address').focus();
    return false;
}
  var sp_counterfeit_tel = document.getElementById('sp_counterfeit_tel').value;
  if (sp_counterfeit_tel =='')
  {
    alert('请输入联系电话');
    document.getElementById('sp_counterfeit_tel').focus();
    return false;
}

  var sp_counterfeit_email = document.getElementById('sp_counterfeit_email').value;
  if (!/\w{1,}[@][\w\-]{1,}([.]([\w\-]{1,})){1,3}$/.test(sp_counterfeit_email)){
    alert('Email格式不正确');
    document.getElementById('sp_counterfeit_email').focus();
    return false;
  }

}

</script>
			<%= form_for @counterfeit, html: { onsubmit: "return check()" } do |f| %>
      <div class="counterfeit_genuine recorder_f16 pad_w100">
      <table width="950" border="0" cellspacing="0" cellpadding="0" class="pad_w100 sp_none">
  <tr>
    <td width="25">&nbsp;</td>
    <td width="125">日置产品型号</td>
    <td width="510">
			<%= f.text_field :sku, class: "counterfeit_text" %>
		</td>
    <td>请填写您所购买的产品型号</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>日置产品序列号</td>
    <td>
			<%= f.text_field :serial_number, class: "counterfeit_text" %>
		</td>
    <td>请填写您所购买的产品序列号</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>联系人姓名</td>
    <td>
			<%= f.text_field :username, class: "counterfeit_text" %>
		</td>
    <td>请填写您的真实姓名</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>单位名称</td>
    <td>
			<%= f.text_field :unit_name, class: "counterfeit_text" %>
		</td>
    <td>请填写您所在单位的名称</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>通讯地址</td>
    <td>
		<%= f.text_field :address, class: "counterfeit_text" %>
		</td>
    <td>请填写您的通讯地址</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>联系电话</td>
    <td>
			<%= f.text_field :tel, class: "counterfeit_text" %>
		</td>
    <td>请填写您的联系电话</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>联系人邮箱</td>
    <td>
		<%= f.text_field :email, class: "counterfeit_text" %>
		</td>
    <td>请填写您的邮箱地址</td>
  </tr>
</table>
<p class="counterfeit_fill sp_none">
<input name="" type="submit" class="counterfeit_button01" value="" />　　
<input name="" type="reset" class="counterfeit_button02" value="" />
</p>
                <% end %>
<%= form_for @counterfeit, html: { onsubmit: "return sp_block_check()" } do |f| %>
<table border="0" cellspacing="0" cellpadding="0" class="sp_table sp_w100">
  <tr>
    <td>日置产品型号</td>
    <td>
			<%= f.text_field :sku, class: "counterfeit_text", id: "sp_counterfeit_sku" %>
		</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>请填写您所购买的产品型号</td>
  </tr>
  <tr>
    <td>日置产品序列号</td>
    <td>
			<%= f.text_field :serial_number, class: "counterfeit_text", id: "sp_counterfeit_serial_number" %>
		</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>请填写您所购买的产品序列号</td>
  </tr>
  <tr>
    <td>联系人姓名</td>
    <td>
			<%= f.text_field :username, class: "counterfeit_text", id: "sp_counterfeit_username" %>
		</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>请填写您的真实姓名</td>
  </tr>
  <tr>
    <td>单位名称</td>
    <td>
			<%= f.text_field :unit_name, class: "counterfeit_text", id: "sp_counterfeit_unit_name" %>
		</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>请填写您所在单位的名称</td>
  </tr>
  <tr>
    <td>通讯地址</td>
    <td>
		<%= f.text_field :address, class: "counterfeit_text", id: "sp_counterfeit_address" %>
		</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>请填写您的通讯地址</td>
  </tr>
  <tr>
    <td>联系电话</td>
    <td>
			<%= f.text_field :tel, class: "counterfeit_text", id: "sp_counterfeit_tel" %>
		</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>请填写您的联系电话</td>
  </tr>
  <tr>
    <td>联系人邮箱</td>
    <td>
		<%= f.text_field :email, class: "counterfeit_text", id: "sp_counterfeit_email" %>
		</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>请填写您的邮箱地址</td>
  </tr>
</table>
      <p class="counterfeit_fill sp_block">
        <input name="" type="submit" class="counterfeit_button01" value="提 交" />　　
        <input name="" type="reset" class="counterfeit_button03" value="重新填写" />
      </p>
    <% end %>
    </div>
  </div>
</div>
<%= render partial: "shared/footer" %>
<% if flash[:counterfeit].present? %>
<script type="text/javascript">
  alert("<%= flash[:counterfeit] %>");
</script>
<% end %>
