<% content_for :head do %>
  <%= javascript_include_tag 'script', 'tabslide' %>
<% end %>

<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<%= render partial: "shared/top_slider" %>
<div class="hioki_search_bg">
	<div class="hioki_search">
  	<h3 class="hioki_search_title t_center">业界商品分类<br /><span>Search Applications</span></h3>
		<div class="m_top15 clearfix" id="img_handle">
			<a href="/industries/1">
        <dl class="hioki_categories">
      		<dt class="hioki_f31">电力/新能源</dt>
					<dt class="m_top5">Power, Energy, Environment</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c10.jpg", width: 65, height: 110 %></dd>
				</dl>
			</a>
			<a href="/industries/2">
        <dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">汽车</dt>
					<dt class="m_top5">Automotive, Transport</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c17.jpg", width: 236, height: 110 %></dd>
				</dl>
			</a>
			<a href="/industries/3">
        <dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">电子零件</dt>
					<dt class="m_top5">Components, Semiconductors</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c25.jpg", width: 110, height: 110 %></dd>
				</dl>
			</a>
			<a href="/industries/4">
        <dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">电池</dt>
					<dt class="m_top5">Battery</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %> 查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c28.jpg", width: 236, height: 110 %></dd>
				</dl>
			</a>
			<a href="/industries/5">
        <dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">交通<span class="hioki_f15">（地铁、铁道、航空）</span></dt>
					<dt class="m_top5">Underground, Railway, Aviation</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c33.jpg", width: 185, height: 110 %></dd>
				</dl>
			</a>
		</div>
	</div>
</div>
<div class="hioki_news_bg">
	<div class="hioki_search clearfix">
  	<div class="hioki_news_title">
			<h3 class="hioki_f22">最新新闻 <span class="hioki_f15">News</span></h3>
                        <p class="hioki_f15 m_top5">&nbsp;&gt; <a href="/news.html" style="color:#FFF" target="_blank">新闻一览</a></p>
			<ul>
				<% NewsCategory.all.each do |nc| %>
				<% next if nc.news.count == 0 %>
      	<li>・<%= link_to nc.name, "/news_categories/#{nc.id}", style: "color:#FFF" %></li>
				<% end %>
			</ul>
		</div>
		<ul class="hioki_news">
			<% @news.each do |news| %>
			<li><%= parse_date_with_unit(news.public_time) %><%= image_tag news.news_category.image.url, width: 72, height: 25 %><a href="/news/<%= news.id %>"><%= news.name %></a></li>
			<% end %>
		</ul>
	</div>
        <ul class="hioki_columns clearfix">
          <li><a href="/userscenter/intellectual/intellectual.php"><%= image_tag "front/hioki_r15_c6.jpg", width: 383, height: 164 %></a></li>
          <li><a href="/counterfeit.html"><%= image_tag "front/hioki_r15_c8.jpg", width: 383, height: 164 %></a></li>
          <li><a href="/assets_doc/2016general_c1.pdf" target="_blank"><%= image_tag "front/hioki_r15_c10.jpg", width: 383, height: 164 %></a></li>
        </ul>
</div>
<div class="hioki_search clearfix">
	<h3 class="hioki_category_title m_top45 t_center">日置产品一览<br /><span class="hioki_f15">Search Category</span></h3>
	<ul class="m_top45 clearfix">
		<% @root_categories.each_with_index do |r_c, index| %>
		<% if index % 4 == 0 %>
  	<li class="hioki_category">
			<% else %>
		<li class="hioki_category m_left25">
			<% end %>
			<a href="/categories/<%= r_c.id %>">
				<dd><%= image_tag r_c.image.url, width: 120, height: 100 %></dd>
				<dt><%= r_c.name %></dt>
			</a>
		</li>
		<% end %>
                <% if false %>
                <li class="hioki_category03 m_left25">
                <a href="http://www.hioki.cn/html/discon/index.html"><%= image_tag "front/hioki_r23_c22.jpg", width: 13, height: 13 %>查看停产商品
                </a>
                </li>
                <li class="hioki_category03 m_left25">
                <a href="http://www.hioki.cn/html/soft/index.html"><%= image_tag "front/hioki_r23_c22.jpg", width: 13, height: 13 %>软件下载
                </a>
                </li>
              <% end %>
                <li class="hioki_category02 m_left25">
                <a href="/products"><%= image_tag "front/hioki_r23_c21.jpg", width: 13, height: 13 %> 查看全部产品
                </a>
                </li>
	</ul>
</div>
<div class="hioki_activity m_top30">
  <ul class="hioki_columns clearfix">
    <li><a href="/news/16"><%= image_tag "front/hioki_r24_c3.jpg", width: 385, height: 155 %></a></li>
    <li><a href="http://www.hioki.cn/images/Greenpoint_C.pdf" target="_blank"><%= image_tag "front/hioki_r24_c22.jpg", width: 385, height: 155 %></a></li>
    <li><%= image_tag "front/hioki_r24_c28.jpg", width: 385, height: 155 %></li>
  </ul>
</div>
<%= render partial: "shared/footer" %>
