<% content_for :head do %>
<link rel="stylesheet" media="screen" href="/assets_doc/front/html/css/colorbox.css" />
<script src="/assets_doc/front/html/js/jquery.colorbox.js"></script>
<script src="/assets_doc/front/html/js/script.js"></script>
<script src="/assets_doc/front/html/js/tabslide.js"></script>
<script>
	$(document).ready(function(){
	var winWidth;
	    if (window.innerWidth)
	      winWidth = window.innerWidth;
	    else if ((document.body) && (document.body.clientWidth)) {
	      winWidth = document.body.clientWidth;
	    }
		//Examples of how to assign the Colorbox event to elements
		if(winWidth > 1300){
			$(".health01").colorbox({iframe:true, innerWidth:1100, innerHeight:630});
		}
		if(winWidth > 767 & winWidth < 1300){
			$(".health01").colorbox({iframe:true, innerWidth:768, innerHeight:630});
		}
		if(winWidth < 767){
			{$(".health01").removeClass("cboxElement");}
		}
		$(".health01").colorbox({iframe:true, innerWidth:1100, innerHeight:630});
		$(".callbacks").colorbox({
			onOpen:function(){ alert('onOpen: colorbox is about to open'); },
			onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
			onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
			onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
			onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
		});

		$('.non-retina').colorbox({rel:'group5', transition:'none'})
		$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
		//Example of preserving a JavaScript event for inline calls.
		$("#click").click(function(){ 
			$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
			return false;
		});
                $('.hioki_promotion .hioki_promotion_x').click(function () {
                  $('.hioki_promotion a').hide();
                  $('.hioki_promotion p').show();
                });
                $('.hioki_promotion p').click(function () {
                    $('.hioki_promotion a').show();
                    $('.hioki_promotion p').hide();
                    });
        });
</script>
<% end %>

<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<%= render partial: "shared/top_slider" %>

<div class="hioki_search_bg sp_none">
  <div class="hioki_search">
  	<h3 class="hioki_search_title t_center">业界商品分类<br /><span>Search Applications</span></h3>
	<div class="m_top15 clearfix" id="img_handle">
	  <a href="#"></a>
	  <a href="/industries/1">
        <dl class="hioki_categories">
		  <dt class="hioki_f31">电力/新能源</dt>
		  <dt class="m_top5">Power, Energy, Environment</dt>
		  <dt class="hioki_f15 m_top15"><img width="13" height="13" src="/assets_doc/front/html/images/hioki_r10_c9.jpg" alt="Hioki r10 c9" />查看详情</dt>
          <dt class="sp_block"><img width="20" src="/assets_doc/front/html/images/hioki_r10_c9_sp.jpg" /></dt>
		  <dd class="m_top10"><img width="65" height="110" src="/assets_doc/front/html/images/hioki_r12_c10_pc.jpg" class="imgChange imgChange2" /></dd>
		</dl>
	  </a>
	  <a href="/industries/2">
        <dl class="hioki_categories m_left20">
		  <dt class="hioki_f31">汽车</dt>
		  <dt class="m_top5">Automotive, Transport</dt>
		  <dt class="hioki_f15 m_top15"><img width="13" height="13" src="/assets_doc/front/html/images/hioki_r10_c9.jpg" alt="Hioki r10 c9" />查看详情</dt>
          <dt class="sp_block"><img width="20" src="/assets_doc/front/html/images/hioki_r10_c9_sp.jpg" /></dt>
		  <dd class="m_top10"><img width="236" height="110" src="/assets_doc/front/html/images/hioki_r12_c17_pc.jpg" class="imgChange imgChange2" /></dd>
		</dl>
	  </a>
	  <a href="/industries/3">
		<dl class="hioki_categories m_left20">
		  <dt class="hioki_f31">电子零件</dt>
		  <dt class="m_top5">Components, Semiconductors</dt>
		  <dt class="hioki_f15 m_top15"><img width="13" height="13" src="/assets_doc/front/html/images/hioki_r10_c9.jpg" alt="Hioki r10 c9" />查看详情</dt>
          <dt class="sp_block"><img width="20" src="/assets_doc/front/html/images/hioki_r10_c9_sp.jpg" /></dt>
		  <dd class="m_top10"><img width="110" height="110" src="/assets_doc/front/html/images/hioki_r12_c25_pc.jpg" class="imgChange imgChange2" /></dd>
		</dl>
	  </a>
	  <a href="/industries/4">
		<dl class="hioki_categories m_left20">
		  <dt class="hioki_f31">电池</dt>
		  <dt class="m_top5">Battery</dt>
		  <dt class="hioki_f15 m_top15"><img width="13" height="13" src="/assets_doc/front/html/images/hioki_r10_c9.jpg" alt="Hioki r10 c9" /> 查看详情</dt>
          <dt class="sp_block"><img width="20" src="/assets_doc/front/html/images/hioki_r10_c9_sp.jpg" /></dt>
		  <dd class="m_top10"><img width="236" height="110" src="/assets_doc/front/html/images/hioki_r12_c28_pc.jpg" class="imgChange imgChange2" /></dd>
		</dl>
	  </a>
	  <a href="/industries/5">
        <dl class="hioki_categories m_left20">
		  <dt class="hioki_f31">交通<span class="hioki_f15">（地铁、铁道、航空）</span></dt>
		  <dt class="m_top5">Underground, Railway, Aviation</dt>
		  <dt class="hioki_f15 m_top15"><img width="13" height="13" src="/assets_doc/front/html/images/hioki_r10_c9.jpg" alt="Hioki r10 c9" />查看详情</dt>
          <dt class="sp_block"><img width="20" src="/assets_doc/front/html/images/hioki_r10_c9_sp.jpg" /></dt>
		  <dd class="m_top10"><img width="185" height="110" src="/assets_doc/front/html/images/hioki_r12_c33_pc.jpg" class="imgChange imgChange2" /></dd>
		</dl>
	  </a>
	</div>
  </div>
</div>

<div class="hioki_column sp_block">
	<div class="hioki_column00">
      <h3 class="hioki_f23">业界商品分类</h3>
      <ul class="m_top25 clearfix">
        <li><a href="/industries/1">电力/新能源</a></li>
        <li class="m_top10"><a href="/industries/2">汽车</a></li>
        <li class="m_top10"><a href="/industries/3">电子零件</a></li>
        <li class="m_top10"><a href="/industries/4">电池</a></li>
        <li class="m_top10"><a href="/industries/5">交通（地铁、铁道、航空）</a></li>
        <li>&nbsp;</li>
      </ul>
    </div>
</div>
<p class="hioki_brand"><a href="/html/brand/"><span class="sp_block"><img width="100%" src="/assets_doc/front/html/images/hioki_brand_sp.jpg" /></span></a></p>

<div class="hioki_news_bg">
	<div class="hioki_search clearfix">
  	<div class="hioki_news_title">
			<h3 class="hioki_f22">最新新闻 <span class="hioki_f15">News</span></h3>
                        <p class="hioki_f15 m_top5"><span class="sp_none pad_none">&nbsp;&gt; </span><a href="/news.html" target="_blank">新闻一览<span class="sp_inline pad_inline">&nbsp;&gt;</span></a></p>
			<ul>
				<% NewsCategory.all.each do |nc| %>
				<% next if nc.news.count == 0 %>
      	<li>・<%= link_to nc.name, "/news_categories/#{nc.id}", style: "color:#FFF" %></li>
				<% end %>
			</ul>
		</div>
		<ul class="hioki_news">
			<% @news.each_with_index do |news, i| %>
      <% if i ==0 %>
			<li><span class="sp_none"><%= parse_date_with_unit(news.public_time) %><%= image_tag news.news_category.image.url, width: 72, height: 25 %></span><a href="/news/<%= news.id %>">
          <p class="sp_block">
            <strong><%= parse_date_with_unit(news.public_time) %></strong>
            <img src="/assets_doc/front/html/images/hioki_r14_c11_sp.jpg" width="60" >
          </p>
          <%= news.name %></a>
      </li>
      <% else %>
			<li class="sp_none"><span class="sp_none"><%= parse_date_with_unit(news.public_time) %><%= image_tag news.news_category.image.url, width: 72, height: 25 %></span><a href="/news/<%= news.id %>">
          <p class="sp_block">
            <strong><%= parse_date_with_unit(news.public_time) %></strong>
            <img src="/assets_doc/front/html/images/hioki_r14_c11_sp.jpg" width="60" >
          </p>
          <%= news.name %></a>
      </li>
			<% end %>
      <% end %>
		</ul>
	</div>
<ul class="hioki_columns clearfix sp_none">
	<li><a href="/userscenter/intellectual/intellectual.php"><img width="383" height="164" src="/assets_doc/front/html/images/hioki_r15_c6.jpg" alt="Hioki r15 c6" /></a></li>
	<li><a href="counterfeit.html"><img width="383" height="164" src="/assets_doc/front/html/images/hioki_r15_c8_pc.jpg" class="imgChange" /></a></li>
	<li><a href="/assets_doc/2017general_c1.pdf" target="_blank"><img width="383" height="164" src="/assets_doc/front/html/images/hioki_r15_c10_pc.jpg" class="imgChange" /></a></li>
  </ul>
</div>
<%= render partial: "shared/hioki_category" %>
<div class="hioki_activity m_top30 sp_none">
  <ul class="hioki_columns clearfix">
    <li><a id="try-1" class="health01 cboxElement" href="/assets_doc/greenpoint.html"><img src="/assets_doc/front/html/images/hioki_r24_c22_pc.jpg" width="385" /></a></li>
    <li><a href="/html/application/ind01.html"><img src="/assets_doc/front/html/images/hioki_r24_c28_pc.jpg" width="384" /></a></li>
    <li class="pad_block"><img src="/assets_doc/front/html/images/hioki_r29_c28.jpg" width="384" /></li>
  </ul>
</div>
<ul class="hioki_columns clearfix sp_block" style="padding-top:0;">
  <li><a href="/html/application/ind01.html"><img src="/assets_doc/front/html/images/hioki_r24_c28_sp.jpg" width="100%" /></a></li>
  <li><a href="/counterfeit.html"><img width="100%" src="/assets_doc/front/html/images/hioki_r15_c8_sp.jpg"></a></li>
  <li><a id="try-1" class="health01 cboxElement" href="/assets_doc/greenpoint.html"><img src="/assets_doc/front/html/images/hioki_r24_c22_sp.jpg" width="100%" /></a></li>
  <li><img src="/assets_doc/front/html/images/hioki_r25_c2_sp.jpg" width="50%" /><img src="/assets_doc/front/html/images/hioki_r25_c4_sp.jpg" width="50%" /></li>
</ul>
<%= render partial: "shared/footer" %>
