<% content_for :head do %>
<script type="text/javascript">           
	$(document).ready(function(){
	$(".sidebar_search").mouseover(function() {
  $(this).stop();
  $(this).animate({width: 425}, 400);
	})
	$(".sidebar_search").mouseout(function() {
  $(this).stop();
  $(this).animate({width: 135}, 400);
	});
	});
</script>
<script type="text/javascript">           
	$(document).ready(function(){
	$(".sidebar_search02").mouseover(function() {
  $(this).stop();
  $(this).animate({width: 425}, 400);
	})
	$(".sidebar_search02").mouseout(function() {
  $(this).stop();
  $(this).animate({width: 135}, 400);
	});
	});
</script>
<%= javascript_include_tag 'main', 'swiper.min' %>
<%= csrf_meta_tags %>
<% end %>

<a name="top" id="top"></a>
<div class="sidebar_search">
	<dl>
		<dt class="fl"><%= image_tag "front/sidebar_search01.jpg", width: 135 %></dt>
		<dd>
			<h3>HIOKI商品搜索</h3>
			<%= form_tag "/products", method: :get, id: "search_form", name: "search_form" do %>
			<label>
				<input type="text" name="search" value="输入商品名・关键字进行搜索" onfocus="if(value=='输入商品名・关键字进行搜索'){value=''}" onblur="if(value==''){value='输入商品名・关键字进行搜索'}" /><input name="" onclick="$('#search_form').submit()" type="button" /></label>
			<p><input name="" type="checkbox" value="" /> 製品検索に生産終了機種を含める</p>
			<% end %>
		</dd>
	</dl>
</div>
<div class="sidebar_search02">
	<dl>
		<dt class="fl"><%= image_tag "front/sidebar_search11.jpg", width: 135 %></dt>
		<% if !session[:user_name].present? %>
		<%= form_tag "sessions/", id: "login_form" do |f| %>
		<dd>
			<label>用户名 <input type="text" id="email" name="email" value="<%= params[:email] %>" /></label>
			<label>密　码 <input type="password" id="password" name="password" value="<%= params[:password] %>" /></label>
			<ul class="m_top15">
      	<li><input name="" type="" value="登录" class="sidebar_ld" /></li>
				<li><a href="#" class="sidebar_ld">注册</a></li>
				<li><a href="#">忘记密码</a></li>
			</ul>
		</dd>
		<% end %>
		
		<% else %>
		<dd>
			<p class="sidebar_p recorder_f18"><%= session[:user_name] %>，HIOKI欢迎您</p>
      <p class="sidebar_tc"><a href="/sessions/logout" data-method="delete" data-confirm="确认退出吗?">退出登录</a></p>
    </dd>
		<% end %>
	</dl>
</div>
<%= render partial: "shared/top_header" %>
<%= render partial: "shared/top_slider" %>
<div class="hioki_search_bg">
	<div class="hioki_search">
  	<h3 class="hioki_search_title t_center">业界商品分类<br /><span>Search Applications</span></h3>
		<div class="m_top15 clearfix">
			<a href="/industries/1">
				<dl class="hioki_categories">
      		<dt class="hioki_f31">电力/新能源</dt>
					<dt class="m_top5">Power, Energy, Environment</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c10.jpg", width: 65, height: 110 %></dd>
				</dl>
			</a>
			<a href="/industries/2">
				<dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">汽车</dt>
					<dt class="m_top5">Automotive, Transport</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c17.jpg", width: 236, height: 110 %></dd>
				</dl>
			</a>
			<a href="/industries/3">
				<dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">电子零件</dt>
					<dt class="m_top5">Components, Semiconductors</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c25.jpg", width: 110, height: 110 %></dd>
				</dl>
			</a>
			<a href="/industries/4">
				<dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">电池</dt>
					<dt class="m_top5">Battery</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %> 查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c28.jpg", width: 236, height: 110 %></dd>
				</dl>
			</a>
			<a href="/industries/5">
				<dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">交通<span class="hioki_f15">（地铁、铁道、航空）</span></dt>
					<dt class="m_top5">Underground, Railway, Aviation</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
					<dd class="m_top10"><%= image_tag "front/hioki_r12_c33.jpg", width: 185, height: 110 %></dd>
				</dl>
			</a>
		</div>
	</div>
</div>
<div class="hioki_news_bg">
	<div class="hioki_search clearfix">
  	<div class="hioki_news_title">
			<h3 class="hioki_f22">最新新闻 <span class="hioki_f15">News</span></h3>
			<p class="hioki_f15 m_top5">&nbsp;&gt; 新闻一览</p>
			<ul>
				<% NewsCategory.all.each do |nc| %>
      	<li>・<%= link_to nc.name, "/news_categories/#{nc.id}", style: "color:#FFF" %></li>
				<% end %>
			</ul>
		</div>
		<ul class="hioki_news">
			<% @news.each do |news| %>
			<li><%= parse_date_with_unit(news.public_time) %><%= image_tag news.news_category.image.url, width: 72, height: 25 %><a href="/news/<%= news.id %>"><%= news.name %></a></li>
			<% end %>
		</ul>
	</div>
        <ul class="hioki_columns clearfix">
          <li><a href="/usercenter_demo/intellectual/intellectual.php"><%= image_tag "front/hioki_r15_c6.jpg", width: 383, height: 164 %></a></li>
          <li><a href="/counterfeit.html"><%= image_tag "front/hioki_r15_c8.jpg", width: 383, height: 164 %></a></li>
          <li><%= image_tag "front/hioki_r15_c10.jpg", width: 383, height: 164 %></li>
        </ul>
</div>
<div class="hioki_search clearfix">
	<h3 class="hioki_category_title m_top45 t_center">日置产品一览<br /><span class="hioki_f15">Search Category</span></h3>
	<ul class="m_top45 clearfix">
		<% @root_categories.each_with_index do |r_c, index| %>
		<% if index % 4 == 0 %>
  	<li class="hioki_category">
			<% else %>
		<li class="hioki_category m_left25">
			<% end %>
			<a href="/categories/<%= r_c.id %>">
				<dd><%= image_tag r_c.image.url, width: 120, height: 100 %></dd>
				<dt><%= r_c.name %></dt>
			</a>
		</li>
		<% end %>
		<li class="hioki_category02 m_left25">
			<a href="/products"><%= image_tag "front/hioki_r23_c21.jpg", width: 13, height: 13 %> 查看全部产品
			</a>
		</li>
	</ul>
</div>
<%= render partial: "shared/footer" %>
