<% content_for :head do %>
<%= stylesheet_link_tag 'colorbox.css' %>
<%= javascript_include_tag 'jquery.colorbox' %>
<%= javascript_include_tag 'script', 'tabslide' %>
<script>
	$(document).ready(function(){
	//Examples of how to assign the Colorbox event to elements
		$(".health01").colorbox({iframe:true, innerWidth:1100, innerHeight:630});
		$(".callbacks").colorbox({
			onOpen:function(){ alert('onOpen: colorbox is about to open'); },
			onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
			onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
			onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
			onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
		});

		$('.non-retina').colorbox({rel:'group5', transition:'none'})
		$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
		//Example of preserving a JavaScript event for inline calls.
		$("#click").click(function(){ 
			$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
			return false;
		});
                $('.hioki_promotion .hioki_promotion_x').click(function () {
                  $('.hioki_promotion a').hide();
                  $('.hioki_promotion p').show();
                });
                $('.hioki_promotion p').click(function () {
                    $('.hioki_promotion a').show();
                    $('.hioki_promotion p').hide();
                    });
        });
</script>
<% end %>

<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<%= render partial: "shared/top_slider" %>
<div class="hioki_search_bg">
	<div class="hioki_search">
  	<h3 class="hioki_search_title t_center">业界商品分类<br /><span>Search Applications</span></h3>
		<div class="m_top15 clearfix" id="img_handle">
                        <a href="#"></a>
			<a href="/industries/1">
        <dl class="hioki_categories">
      		<dt class="hioki_f31">电力/新能源</dt>
					<dt class="m_top5">Power, Energy, Environment</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
          <dt class="sp_block">
            <%= image_tag "front/hioki_r10_c9_sp.jpg", width: 20 %>
          </dt>
		      <dd class="m_top10"><img width="65" height="110" src="/assets_doc/front/images/hioki_r12_c10_pc.jpg" class="imgChange imgChange2" /></dd>
				</dl>
			</a>
			<a href="/industries/2">
        <dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">汽车</dt>
					<dt class="m_top5">Automotive, Transport</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
          <dt class="sp_block">
            <%= image_tag "front/hioki_r10_c9_sp.jpg", width: 20 %>
          </dt>
		  <dd class="m_top10"><img width="236" height="110" src="/assets_doc/front/images/hioki_r12_c17_pc.jpg" class="imgChange imgChange2" /></dd>
				</dl>
			</a>
			<a href="/industries/3">
        <dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">电子零件</dt>
					<dt class="m_top5">Components, Semiconductors</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
          <dt class="sp_block">
            <%= image_tag "front/hioki_r10_c9_sp.jpg", width: 20 %>
          </dt>
		      <dd class="m_top10"><img width="110" height="110" src="/assets_doc/front/images/hioki_r12_c25_pc.jpg" class="imgChange imgChange2" /></dd>
				</dl>
			</a>
			<a href="/industries/4">
        <dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">电池</dt>
					<dt class="m_top5">Battery</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %> 查看详情</dt>
          <dt class="sp_block">
            <%= image_tag "front/hioki_r10_c9_sp.jpg", width: 20 %>
          </dt>
		      <dd class="m_top10"><img width="236" height="110" src="/assets_doc/front/images/hioki_r12_c28_pc.jpg" class="imgChange imgChange2" /></dd>
				</dl>
			</a>
			<a href="/industries/5">
        <dl class="hioki_categories m_left20">
      		<dt class="hioki_f31">交通<span class="hioki_f15">（地铁、铁道、航空）</span></dt>
					<dt class="m_top5">Underground, Railway, Aviation</dt>
					<dt class="hioki_f15 m_top15"><%= image_tag "front/hioki_r10_c9.jpg", width: 13, height: 13 %>查看详情</dt>
          <dt class="sp_block">
            <%= image_tag "front/hioki_r10_c9_sp.jpg", width: 20 %>
          </dt>
		      <dd class="m_top10"><img width="185" height="110" src="/assets_doc/front/images/hioki_r12_c33_pc.jpg" class="imgChange imgChange2" /></dd>
				</dl>
			</a>
		</div>
	</div>
</div>
<p><a target="_blank" id="brand_link" href="/html/brand/"></a></p>
<div class="hioki_news_bg">
	<div class="hioki_search clearfix">
  	<div class="hioki_news_title">
			<h3 class="hioki_f22">最新新闻 <span class="hioki_f15">News</span></h3>
                        <p class="hioki_f15 m_top5"><span class="sp_none pad_none">&nbsp;&gt; </span><a href="/news.html" target="_blank">新闻一览<span class="sp_inline pad_inline">&nbsp;&gt;</span></a></p>
			<ul>
				<% NewsCategory.all.each do |nc| %>
				<% next if nc.news.count == 0 %>
      	<li>・<%= link_to nc.name, "/news_categories/#{nc.id}", style: "color:#FFF" %></li>
				<% end %>
			</ul>
		</div>
		<ul class="hioki_news">
			<% @news.each do |news| %>
			<li><span class="sp_none"><%= parse_date_with_unit(news.public_time) %><%= image_tag news.news_category.image.url, width: 72, height: 25 %></span><a href="/news/<%= news.id %>">
          <p class="sp_block">
            <strong><%= parse_date_with_unit(news.public_time) %></strong>
            <%= image_tag "front/hioki_r14_c11_sp.jpg", width: 60 %>
          </p>
          <%= news.name %></a>
      </li>
			<% end %>
		</ul>
	</div>
        <ul class="hioki_columns clearfix">
          <li><a href="/userscenter/intellectual/intellectual.php"><%= image_tag "front/hioki_r15_c6.jpg", width: 383, height: 164 %></a></li>
          <li><a href="/counterfeit.html"><%= image_tag "front/hioki_r15_c8.jpg", width: 383, height: 164 %></a></li>
          <li><a href="/assets_doc/2017general_c1.pdf" target="_blank"><%= image_tag "front/hioki_r15_c10_pc.jpg", width: 383, height: 164, class: "imgChange"%></a></li>
        </ul>
</div>
<div class="hioki_search hioki_category_bg clearfix">
	<h3 class="hioki_category_title m_top45 t_center">日置产品一览<br /><span class="hioki_f15">Search Category</span></h3>
  <p class="hioki_category_xx sp_block"><a href="/products" target="_blank">查看全部商品<span class="sp_inline">&nbsp;&gt;</span></a></p>
	<ul class="m_top45 clearfix pad_mt25">
		<% @root_categories.each_with_index do |r_c, index| %>
		<% if index % 4 == 0 %>
  	<li class="hioki_category">
			<% else %>
		<li class="hioki_category m_left25">
			<% end %>
			<a href="/categories/<%= r_c.id %>">
				<dd><%= image_tag r_c.image.url, width: 120, height: 100 %></dd>
				<dt><%= r_c.name %></dt>
			</a>
		</li>
		<% end %>
                <li class="hioki_category03 m_left25">
                <a href="http://www.hioki.cn/html/soft/index.html"><%= image_tag "front/hioki_r23_c22.jpg", width: 13, height: 13 %> 软件下载
                </a>
                <a href="http://www.hioki.cn/html/discon/index.html"><%= image_tag "front/hioki_r23_c22.jpg", width: 13, height: 13 %> 查看停产商品
                </a>
                </li>
                <li class="hioki_category02 m_left25">
                <a href="/products"><%= image_tag "front/hioki_r23_c21.jpg", width: 13, height: 13 %> 查看全部产品
                </a>
                </li>
	</ul>
</div>
<div class="hioki_activity m_top30">
  <ul class="hioki_columns clearfix">
    <li><a href="/news/16"><%= image_tag "front/hioki_r24_c3_pc.jpg", width: 385, class: "imgChange" %></a></li>
    <li><a id="try-1" class="health01 cboxElement" href="/assets_doc/greenpoint.html"><%= image_tag "front/hioki_r24_c22.jpg", width: 385, class: "imgChange" %></a></li>
    <li><a href="/html/application/ind01.html"><%= image_tag "front/hioki_r24_c28.jpg", width: 384, class: "imgChange" %></a></li>
    <li class="sp_block pad_block">
      <%= image_tag "front/hioki_r29_c28_sp.jpg", width: "100%" %>
    </li>
  </ul>
</div>
<%= render partial: "shared/footer" %>
