<% content_for :head do %>
<script type="text/javascript">
<!--
window.onload=window.onresize=function(){
if(document.getElementById("mm2").clientHeight<document.getElementById("mm1").clientHeight){
document.getElementById("mm2").style.height=document.getElementById("mm1").offsetHeight+"px";
}
else{
document.getElementById("mm1").style.height=document.getElementById("mm2").offsetHeight+"px";
}
}
-->
</script>
<% end %>
<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="news_banner"></div>
<div class="news_content clearfix">
  <div class="news_left" id="mm1">
		<h3 class="hioki_f22">最新新闻 <span class="hioki_f15">News</span></h3>
		<ul>
			<% NewsCategory.all.each do |nc| %>
			<% next if nc.news.count == 0 %>
      <li>&gt;<%= link_to nc.name, "/news_categories/#{nc.id}" %></li>
			<% end %>
		</ul>
  </div>
  <div class="news_right" id="mm2">
  	<p class="current"><a href="index.html">首页</a> > 新闻</p>
<ul class="news_list">
				<% @news.each do |news| %>
			<li><%= parse_date_with_unit(news.public_time) %><%= image_tag news.news_category.image.url, width: 72, height: 25 %><a href="/news/<%= news.id %>"><%= news.name %></a></li>
			<% end %>
</ul>
<ul class="news_flip t_center m_top20">
	<ul class="news_flip t_center m_top20">
		<% if @news.total_pages < 2 %>
			 <li><a href="/news.html">首页</a>&nbsp;</li>
			 <% else %>
			 <li><a href="/news.html">首页</a>&nbsp;</li>
			 <% 1.upto(@news.total_pages).to_a.each do |i| %>
			 <% if @news.current_page == i %>
			 <li> <%= i %> |</li>
			 <% else %>
			 <li class="news_flip_li01"><a href="/news.html?page=<%= i %>"> <%= i %> </a>|</li>
			 <% end %>
			 <% end %>
			 <li>&nbsp;<a href="/news.html?page=<%= @news.total_pages %>">末页</a></li>
			 <% end %>
	</ul>
</ul>
</div>
</div>
<%= render partial: "shared/footer" %>
