<ul class="m_top45 clearfix">
		<% industry.categories.each_with_index do |r_c, index| %>
                  <% next if r_c.id == 40 %>
		<% if index % 4 == 0 %>
  	<li class="hioki_category">
			<% else %>
		<li class="hioki_category m_left25">
			<% end %>
                        <a href="/categories/<%= r_c.id %>?industry_id=<%= industry.id %>">
				<dd><%= image_tag r_c.image.url, width: 120, height: 100 %></dd>
				<dt><%= r_c.name %></dt>
			</a>
		</li>
		<% end %>

    <li class="m_left25 fl">
      <a href="/html/application/ind0<%= params[:id]%>.html"><img width="296" src="/assets_doc/front/html/images/products_application_pc.jpg" class="imgChange" /></a>
    </li>

</ul>

