<% content_for :head do %>
<%= javascript_include_tag 'tab' %>
<style type="text/css">
	#banner_industry_<%= params[:id] %>{
	background:url(<%= asset_path("front/banner_industry_#{params[:id]}.jpg") %>) no-repeat center
	}
</style>
<% end %>

<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>

<div class="product_banner" id="banner_industry_<%= params[:id] %>">
  <span class="sp_block">
    <img width="100%" src="/assets_doc/front/html/images/banner_industry_<%= params[:id] %>_sp.jpg" >
  </span>
  <span class="pad_block"><img width="100%" src="/assets_doc/front/html/images/banner_industry_<%= params[:id] %>_pad.jpg" ></span>
</div>

<div class="product_title clearfix sp_none">
  <ul class="news_content">
		<% (1..5).each do |i| %>
		<% if params[:id].to_i == i %>
		<li onclick="window.location='/industries/<%= i %>'" class="selectd">
      <img width="246" height="76" src="/assets_doc/front/html/images/product_0<%= i %>_on.jpg" />
			<% else %>
		<li onclick="window.location='/industries/<%= i %>'">
      <img width="246" height="76" src="/assets_doc/front/html/images/product_0<%= i %>.jpg" />
			<% end %>
			<p><%= image_tag "front/product_sj.jpg", width: 26, height: 19 %></p>
		</li>
		<% end %>
  </ul>
</div>

<a id="a" name="a"></a><ul class="product_power sp_block" onclick="window.location='/industries/1#a'">
  <li class="fl"><img width="80" src="/assets_doc/front/html/images/product_01_sp.jpg" /></li>
  <li>电力/新能源 <p>Power, Energy, Environment</p></li>
  <li class="fr"><img width="21" height="21" src="/assets_doc/front/html/images/product_x<%= params[:id].to_i == 1 ? 's' : 'x' %>_sp.jpg" /></li>
</ul>
<div id="pic_corpus_01" class="hioki_search clearfix" <%= params[:id].to_i == 1 ? '' : "style=display:none;" %>>
  <div class="m_top45 clearfix sp_none">
  	<h3 class="product_f42 fl">电力/新能源 <span class="product_f20">Power, Energy, Environment</span></h3>
    <p class="product_dljs recorder_f16"><%= @industries[0].note %></p>
  </div>
  <%= render partial: "industry_sub_category", locals: {industry: @industries[0]} %>
  <p class="m_top45 sp_none">&nbsp;</p>
</div>

<a id="b" name="b"></a><ul class="product_power m_top15 sp_block" onclick="window.location='/industries/2#b'">
  <li class="fl"><img width="80" src="/assets_doc/front/html/images/product_02_sp.jpg" /></li>
  <li>汽车<p>Automotive, Transport</p></li>
  <li class="fr"><img width="21" height="21" src="/assets_doc/front/html/images/product_x<%= params[:id].to_i == 2 ? 's' : 'x' %>_sp.jpg" /></li>
</ul>
<div id="pic_corpus_02" class="hioki_search clearfix" <%= params[:id].to_i == 2 ? '' : "style=display:none;" %>>
  <div class="m_top45 clearfix sp_none">
  	<h3 class="product_f42 fl">汽车 <span class="product_f20">Automotive, Transport</span></h3>
		<p class="product_dljs recorder_f16"><%= @industries[1].note %></p>
  </div>
	<%= render partial: "industry_sub_category", locals: {industry: @industries[1]} %>
  <p class="m_top45 sp_none">&nbsp;</p>
</div>

<a id="c" name="c"></a><ul class="product_power m_top15 sp_block" onclick="window.location='/industries/3#c'">
  <li class="fl"><img width="80" src="/assets_doc/front/html/images/product_03_sp.jpg" /></li>
  <li>电子零件<p>Components, Semiconductors</p></li>
  <li class="fr"><img width="21" height="21" src="/assets_doc/front/html/images/product_x<%= params[:id].to_i == 3 ? 's' : 'x' %>_sp.jpg" /></li>
</ul>
<div id="pic_corpus_03" class="hioki_search clearfix" <%= params[:id].to_i == 3 ? '' : "style=display:none;" %>>
  <div class="m_top45 clearfix sp_none">
  	<h3 class="product_f42 fl">电子零件 <span class="product_f20">Components, Semiconductors</span></h3>
    <p class="product_dljs recorder_f16"><%= @industries[2].note %></p>
  </div>
	<%= render partial: "industry_sub_category", locals: {industry: @industries[2]} %>
  <p class="m_top45 sp_none">&nbsp;</p>
</div>

<a id="d" name="d"></a><ul class="product_power m_top15 sp_block" onclick="window.location='/industries/4#d'">
  <li class="fl"><img width="80" src="/assets_doc/front/html/images/product_04_sp.jpg" /></li>
  <li>电池<p>Battery</p></li>
  <li class="fr"><img width="21" height="21" src="/assets_doc/front/html/images/product_x<%= params[:id].to_i == 4 ? 's' : 'x' %>_sp.jpg" /></li>
</ul>
<div id="pic_corpus_04" class="hioki_search clearfix" <%= params[:id].to_i == 4 ? '' : "style=display:none;" %>>
  <div class="m_top45 clearfix sp_none">
  	<h3 class="product_f42 fl">电池 <span class="product_f20">Battery</span></h3>
    <p class="product_dljs recorder_f16"><%= @industries[3].note %></p>
  </div>
	<%= render partial: "industry_sub_category", locals: {industry: @industries[3]} %>
  <p class="m_top45 sp_none">&nbsp;</p>
</div>

<a id="e" name="e"></a><ul class="product_power m_top15 sp_block" onclick="window.location='/industries/5#e'">
  <li class="fl"><img width="80" src="/assets_doc/front/html/images/product_05_sp.jpg" /></li>
  <li class="product_power_li02">交通<p>（地铁、铁道、航空）<br />Automotive, Transport</p></li>
  <li class="fr"><img width="21" height="21" src="/assets_doc/front/html/images/product_x<%= params[:id].to_i == 5 ? 's' : 'x' %>_sp.jpg" /></li>
</ul>
<div id="pic_corpus_05" class="hioki_search clearfix" <%= params[:id].to_i == 5 ? '' : "style=display:none;" %>>
  <div class="m_top45 clearfix sp_none">
  	<h3 class="product_f42 fl">交通<span class="product_f20">（地铁、铁道、航空） Underground, Railway, Aviation</span></h3>
		<p class="product_dljs recorder_f16"><%= @industries[4].note %></p>
  </div>
	<%= render partial: "industry_sub_category", locals: {industry: @industries[4]} %>
  <p class="m_top45 sp_none">&nbsp;</p>
</div>
<%= render partial: "shared/hioki_category" %>
<%= render partial: "shared/footer" %>
