<section class="content-header">
  <h1> 主页
    <small>控制板</small>
  </h1>
  <!--
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
  -->
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <h3>
            <%= @products.count %>
          </h3>
          <p>
            产品数量
            <!--Unique Visitors -->
          </p>
        </div>
        <div class="icon">
          <i class="ion ion-monitor"></i>
        </div>
        <%= link_to [:admin, :products],  class: "small-box-footer" do %>
          查看更多 <i class="fa fa-arrow-circle-right"></i>
        <% end %>
      </div>
    </div>
    <!-- ./col -->
		<% if false %>
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3>
            <%= @categories.count %>
            <!-- 53<sup style="font-size: 20px">%</sup> -->
          </h3>
          <p>
             分类数量
          </p>
        </div>
        <div class="icon">
          <i class="ion ion-grid"></i>
        </div>
        <%= link_to [:admin, :categories],  class: "small-box-footer" do %>
          查看更多 <i class="fa fa-arrow-circle-right"></i>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3>
            <%= @industries.count %>
          </h3>
          <p> 行业数量 </p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <%= link_to [:admin, :industries],  class: "small-box-footer" do %>
          查看更多 <i class="fa fa-arrow-circle-right"></i>
        <% end %>
      </div>
    </div>
    <!-- ./col -->
		<% end %>
  </div>
</section>
