<%= form_for [:admin, @product], html: {class: "form-horizontal", multipart: true} do |f| %>
  <div class="box-body">
  <%= render 'admin/shared/error', model: @product %>
  <fieldset>
    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="string required col-sm-2 control-label">
          <abbr title="required">*</abbr> 编号
        </label>
        <div class="col-sm-4">
          <%= f.text_field :sku, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="string required col-sm-2 control-label">
          <abbr title="required">*</abbr>标题
        </label>
        <div class="col-sm-4">
          <%= f.text_field :title, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 描述 </label>
        <div class="col-sm-4">
          <%= f.text_field :desc_as_option, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string">
        <label class="string col-sm-2 control-label"> 本体或选件 </label>
        <div class="col-sm-2">
          <label class="checkbox-inline">
            <%= f.check_box :is_main_body %> 是否为本体
          </label>
        </div>
        <div class="col-sm-2">
          <label class="checkbox-inline">
            <%= f.check_box :is_main_body %> 是否为选件
          </label>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 作为选件图片 </label>
        <%= image_tag(@product.option_avatar.thumb.url) if @product.option_avatar? %>
        <div class="col-sm-4">
          <%= f.file_field :avatar, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 作为主体banner </label>
        <%= image_tag(@product.banner.thumb.url) if @product.banner? %>
        <div class="col-sm-4">
          <%= f.file_field :avatar, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group text requirede">
        <label class="col-sm-2 control-label"> 概要 </label>
        <div class="col-sm-9">
          <%= f.text_area :summary %>
        </div>
      </div>
    </div>

  </fieldset>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <%= f.button '保存', class: 'btn btn-primary' %>
      <%= link_to '取消', [:admin, :products], class: 'btn btn-warning' %>
    </div>
  </div>
</div>
<% end %>

<script src="/plugin/ckeditor/ckeditor.js"></script>
<script>
// Replace the <textarea id="editor1"> with a CKEditor
// instance, using default configuration.
$(function () {
    CKEDITOR.replace( 'product_summary' );
    })
</script>
