<%= form_for [:admin, @product], html: {class: "form-horizontal", multipart: true} do |f| %>
  <div class="box-body">
  <%= render 'admin/shared/error', model: @product %>
  <fieldset>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="string required col-sm-2 control-label">
          产品型号<abbr title="required">*</abbr>
        </label>
        <div class="col-sm-4">
          <%= f.text_field :sku, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="string required col-sm-2 control-label">
          产品名称<abbr title="required">*</abbr>
        </label>
        <div class="col-sm-4">
          <%= f.text_field :title, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="string required col-sm-2 control-label">
          产品分类<abbr title="required">*</abbr>
        </label>
        <div class="col-sm-4">
          <%= f.select :category_id, nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" }, {}, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string">
        <label class="string col-sm-2 control-label"> 所属行业
        </label>
        <br/>
        <br/>
        <div class="indent">
        <% Industry.roots.collect do |root| root.children end.flatten.sort_by do |i| i.number end.each do |child| %>
          <div class="col-sm-3">
          <%= check_box_tag "product[industry_ids][]", child.id, @product.industries.include?(child), id: "industry_#{child.number}" %>
          <label for=<%= "industry_#{child.number} "%> class="checkbox-industry"><%= "#{child.number}-#{child.name}" %></label>
        </div>
      <% end %>
    </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string">
        <label class="string col-sm-2 control-label"> 本体或选件 </label>
        <div class="col-sm-2">
          <label class="checkbox-inline">
            <%= f.check_box :is_main_body %> 是否为本体
          </label>
        </div>
        <div class="col-sm-2">
          <label class="checkbox-inline">
            <%= f.check_box :is_option %> 是否为选件
          </label>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string">
        <label class="string col-sm-2 control-label"> 新品或推荐
        </label>
        <div class="col-sm-2">
          <label class="checkbox-inline">
            <%= f.check_box :is_new %> 是否为新品
          </label>
        </div>
        <div class="col-sm-2">
          <label class="checkbox-inline">
            <%= f.check_box :is_recommended %> 是否为推荐
          </label>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string">
        <label class="string col-sm-2 control-label"> 是否显示或下架
        </label>
        <div class="col-sm-2">
          <label class="checkbox-inline">
            <%= f.check_box :is_display %> 是否显示
          </label>
        </div>
        <div class="col-sm-2">
          <label class="checkbox-inline">
            <%= f.check_box :is_deleted %> 是否下架
          </label>
        </div>
      </div>
    </div>
		
    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 描述 </label>
        <div class="col-sm-4">
          <%= f.text_field :desc, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 视频路径 </label>
        <div class="col-sm-4">
          <%= f.text_field :video_path, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 选件备注 </label>
        <div class="col-sm-4">
          <%= f.text_field :note_for_option, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 特征 </label>
        <div class="col-sm-4">
          <%= f.text_area :feature, class: "string required form-control" %>
        </div>
      </div>
    </div>
		
    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 产品缩略图片 </label>
        <%= image_tag(@product.thumb_image.thumb.url) if @product.thumb_image? %>
        <div class="col-sm-4">
          <%= f.file_field :thumb_image, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 产品KV图片 </label>
        <%= image_tag(@product.banner.thumb.url) if @product.banner? %>
        <div class="col-sm-4">
          <%= f.file_field :banner, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group string requirede">
        <label class="col-sm-2 control-label"> 作为选件图片 </label>
        <%= image_tag(@product.option_avatar.thumb.url) if @product.option_avatar? %>
        <div class="col-sm-4">
          <%= f.file_field :avatar, class: "string required form-control" %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <div class="form-group text requirede">
        <label class="col-sm-2 control-label"> 概要 </label>
        <div class="col-sm-9">
          <%= f.text_area :summary %>
        </div>
      </div>
    </div>

    <div class="form-inputs">
      <label class="col-sm-2 control-label"> 软件升级文档 </label>
      <div id="option_fieldsets" class="control-label"><%= link_to_add_fields "添加文档 ", f, :upgrade_attachments %></div>
      <%= f.fields_for :upgrade_attachments, @upgrade_attachments do |upgrade_attachment_fields| %>
        <%= render "upgrade_attachment_fields", :f => upgrade_attachment_fields %>
    <% end %>
    </div>

    <div class="form-inputs">
      <label class="col-sm-2 control-label"> 适用选件 </label>
    	<div id="option_fieldsets" class="control-label"><%= link_to_add_fields "添加选件", f, :option_categories %></div>
      <%= f.fields_for :option_categories, @option_categories do |option_category_fields| %>
        <%= render "option_category_fields", :f => option_category_fields %>
				<% end %>
    </div>
  </fieldset>

  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-2">
      <%= f.button '保存', class: 'btn btn-primary' %>
      <%= link_to '取消', [:admin, :products], class: 'btn btn-warning' %>
    </div>
  </div>
</div>
<% end %>
<script>
	$(document).on("turbolinks:load", function (){
  CKEDITOR.replace("product_summary");
	});
</script>
