<% content_for :head do %>
<script type="text/javascript">
<!--
window.onload=window.onresize=function(){
if(document.getElementById("mm2").clientHeight<document.getElementById("mm1").clientHeight){
document.getElementById("mm2").style.height=document.getElementById("mm1").offsetHeight+"px";
}
else{
document.getElementById("mm1").style.height=document.getElementById("mm2").offsetHeight+"px";
}
}
-->
</script>
<% end %>
<a name="top" id="top"></a>
<%= render partial: "shared/top_header" %>
<div class="t_center"><%= image_tag "front/news_r1_c1.jpg", width: 1401, height: 328, alt: "HIOKI" %></div>
<div class="news_content clearfix">
  <div class="news_left" id="mm1">
		<h3 class="hioki_f22">最新新闻 <span class="hioki_f15">News</span></h3>
		<ul>
			<% NewsCategory.all.each do |nc| %>
			<% next if nc.news.count == 0 %>
      <li>&gt;<%= link_to nc.name, "/news_categories/#{nc.id}" %></li>
			<% end %>
		</ul>
  </div>
  <div class="news_right" id="mm2">
  	<p class="current"><a href="index.html">首页</a> > <%= link_to "新闻", "/news" %> > <%= @news_category.name %></p> 
<ul class="news_list">
				<% @news.each do |news| %>
			<li><%= parse_date_with_unit(news.public_time) %><%= image_tag news.news_category.image.url, width: 72, height: 25 %><a href="/news/<%= news.id %>"><%= news.name %></a></li>
			<% end %>
    </ul>
  </div>
</div>
<%= render partial: "shared/footer" %>
