<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>

<%= render partial: "shared/product_banner_and_categories" %>

<div class="news_content clearfix">
  <div class="product_left sp_none pad_none" >
		<h3>产品一览<br /><span class="hioki_f15">Product</span></h3>
		<ul class="m_top10">
			<% @root_categories.each do |r_c| %>
			<li><%= link_to r_c.name, "/categories/#{r_c.id}" %></li>
			<% end %>
		</ul>
  </div>
  <div class="product_right">
  	<p class="current sp_none">
			<a href="/index.html">首页</a>
                        > <%= link_to "产品一览", "/industries/1/products" %> 
			<% if @category_parent.present? %>
			> <a href="/categories/<%= @category_parent.id %>"><%= @category_parent.name %></a>
			<% end %>
                        > <%= @category.name %>
                      </p>
    <h3 class="product_f25 m_top20"><%= @category.name %></h3>
    <ul class="product_category m_top25 clearfix">
      <% @category.children.each do |category| %>
        <% if category.products.is_display.count > 0 %>
        <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
    <% end %>
    <% end %>
      <% if IntroLinks.keys.include? params[:id] %>
        <% IntroLinks[params[:id]].each do |k, v| %>
        <li class="product_category_li"><a href="<%= v %>" target="_blank"><%= k %></a></li>
    <% end %>
    <% end %>
    <% if params[:id].to_i == 33 %>
      <li class="product_category_li"><a href="https://www.hioki.cn/html/selection/lr.html" target="_blank">选型指南</a></li>
    <% end %>
    </ul>
		<% if false %>
    <ul class="product_search">
      <li>出　力　<select name="">
					<option>出　力</option>
				</select>
      </li>
      <li>耐热性能　<select name="">
					<option>耐热性能</option>
				</select>
			</li>　
      <li class="product_number">
				<p>品番で検索</p>
				<%= form_tag "/products", method: :get do %>
				<input name="search" type="text" value="<%= params[:search] %>" /><input name="" type="submit" value="" />
				<% end %>
			</li>
    </ul>
		<% end %>
    <ul class="product_list m_top30">
			<% @products.each do |product| %>
			<% if product.is_recommended? %>
			<li><a href="/products/<%= product.id %>">
				<p class="product_dz"><%= image_tag "front/product_tj.png", width: 93, height: 93 %></p>
        <dl class="product_tj">
					<dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
          <dt class="product_dt01">
          	<h3 class="product_f21"><%= product.title %></h3>
            <p class="product_f16 m_top5"><%= truncate(product.desc, length: 50) %> </p>
            <p class="product_xx m_top15">查看详情</p>
          </dt>
          <% product.category_ids_arr_names.each_with_index do |name, i| %>
            <dt class="product_dt0<%=i+2%>"><%= name %></dt>
          <% end %>
				</dl></a>
      </li>
			<% end %>
			<% if product.is_new? %>
      <li><a href="/products/<%= product.id %>">
				<p class="product_dz"><%= image_tag "front/product_new.png", width: 93, height: 93 %></p>
        <dl class="product_new">
					<dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
          <dt class="product_dt01">
          	<h3 class="product_f21"><%= product.title %></h3>
                <p class="product_f16 m_top5"><%= truncate(product.desc, length: 50) %> </p>
            <p class="product_xx m_top15">查看详情</p>
          </dt>
          <% product.category_ids_arr_names.each_with_index do |name, i| %>
            <dt class="product_dt0<%=i+2%>"><%= name %></dt>
        <% end %>
				</dl></a>
      </li>
			<% end %>
			<% if !product.is_new? and !product.is_recommended? %>
      <li><a href="/products/<%= product.id %>">
        <dl>
					<dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
          <dt class="product_dt01">
          	<h3 class="product_f21"><%= product.title %></h3>
                <p class="product_f16 m_top5"><%= truncate(product.desc, length: 50) %> </p>
            <p class="product_xx m_top15">查看详情</p>
          </dt>
          <% product.category_ids_arr_names.each_with_index do |name, i| %>
            <dt class="product_dt0<%=i+2%>"><%= name %></dt>
          <% end %>
				</dl></a>
      </li>
			<% end %>
			<% end %>
    </ul>
    <p class="m_top45 sp_none">&nbsp;</p>
  </div>
</div>

<%= render partial: "shared/footer" %>
