<div id="pic_corpus_02" class="recorder_content">
	<% if @product.red_desc_as_option.present? %>
  <p class="recorder_f16">注意：无论何种情况，都需要1种内存扩展板。8861-50同种类的需2块，订货时请指定</p>
	<% end %>
	<% @product.option_categories.each do |option_cate| %>
	<% options = option_cate.options %>
	<% if options.present? %>
  <h3 class="recorder_basic"><%= option_cate.name %></h3>
  <div class="recorder_option clearfix">
		<% options.each do |option| %>
    <dl class="recorder_assembly">
      <dd class="fl"><%= image_tag option.option_avatar.url %></dd>
      <dt>
        <h3 class="recorder_f18"><%= option.title%></h3>
        <p><%= option.note_for_option%></p>
				<% if option.desc.present? %>
        <p class="recorder_blue m_top10"><%= option.desc %></p>
				<% end %>
      </dt>
    </dl>
		<% end %>
  </div>
	<% end %>
	<% end %>
</div>
