<div id="pic_corpus_03" class="recorder_content" style="display:none;">
  <% if @product_attachments.present? %>

    <% if false %>
  <p class="product_f25">PDF样本</p>
  <ul class="m_top30 clearfix">
		<% @product_attachments.each do |p_a| %>
    <li class="recorder_pdf"><a href="<%= p_a.pdf.url %>" target="_blank"><%= @product.title %></a></li>
		<% end %>
  </ul>
<% end %>

<% @product_attachments.each do |pdf_cate_id, arr| %>
  <h3 class="recorder_basic01"><%= PdfCategory.find_by(id: pdf_cate_id).name %></h3>
<ul class="m_top30 clearfix">
  <% arr.each do |p_a| %>
    <li class="recorder_pdf">
  <a href="<%= p_a.pdf.url %>" target="_blank"><%= p_a.name %>
  </li>
  <% end %>
  </ul>
<% end %>
<% else %>
  <p class="product_f25">非常抱歉，暂无可下载样本。</p>
<% end %>
</div>
