<div id="pic_corpus_04" class="upgrade_content recorder04_content" style="display:none;">
	<% @product.upgrade_attachments.group_by do |file| file.classifier_id end.each do |id, files| %>
  <h3 class="recorder04_basic"><%= Product::UpgradeClassifier[id-1][0] %></h3>
  <p class="recorder_f23 m_top25">电力测试仪</p>
  <div class="m_top20"><table width="1000" border="0" cellspacing="0" cellpadding="0" class="recorder_upgrade">
      <tr>
        <th width="130" height="50" bgcolor="#FFFEE2">型号</th>
        <th width="160" bgcolor="#FFFEE2">品名</th>
        <th width="170" bgcolor="#FFFEE2">文件</th>
        <th width="340" bgcolor="#FFFEE2">记述</th>
        <th width="95" bgcolor="#FFFEE2">容量</th>
        <th bgcolor="#FFFEE2">下载</th>
      </tr>
			<% files.each do |file| %>
      <tr>
        <td><%= file.sku %></td>
        <td><%= file.name %></td>
        <td><%= file.attachment_file_name %></td>
        <td><%= file.desc %></td>
        <td><%= number_to_human_size(file.attachment_file_size) %></td>
        <td><%= link_to "下载文件", file.attachment.url %></td>
      </tr>
			<% end %>
    </table>
  </div>
	<% end %>
</div>
