<% if !session[:user_name].present? %>
<div id="pic_corpus_04" class="upgrade_login_form recorder_content recorder_f16" style="display:none;">
	<%=raw @product.upgraded_note if @product.upgraded_note.present? %>
  <div class="recorder_sign clearfix">
    <p>如果还没有登陆客户信息，请先进行登录。</p>
    <div class="recorder_please">
      <div class="m_top25 clearfix"><label>用户名<br />(邮箱地址)</label><input name="email" id="email" type="text" /></div>
      <div class="m_top25 clearfix"><label class="m_top10">密　码</label><input name="password" id="password" type="password" /><br />
        <p><a href="/userscenter/retake_password.php">忘记密码</a></p></div>
    </div>
    <input id="submit" name="" type="submit" class="recorder_login" value="" />
    <p class="m_top35"><a href="/userscenter/register.php"><%= image_tag "front/recorder04_02.jpg", width: 197, height: 86 %></a></p>
  </div>
</div>
<%= render partial: "upgrade_content" %>
<% else %>
<%=raw @product.upgraded_note if @product.upgraded_note.present? %>
<%=raw @product.upgraded if @product.upgraded.present? %>
<%= render partial: "upgrade_content" %>
<% end %>
