<a name="top" id="top"></a>
<%= render partial: "shared/top_header" %>
<div class="t_center"><%= image_tag "front/product_r1_c1.jpg", width: 1401, height: 328, alt: "HIOKI" %></div>
<div class="news_content clearfix">
  <div class="product_left" >
    <h3>产品一览<br /><span class="hioki_f15">Product</span></h3>
    <ul class="m_top10">
      <% @root_categories.each do |r_c| %>
        <li><%= link_to r_c.name, "/categories/#{r_c.id}" %></li>
    <% end %>
    </ul>
  </div>
  <div class="product_right">
    <p class="current"><a href="/">首页</a> > 产品一览</p>
		<h3 class="product_f25 m_top20"><%= @root_categories.first.name %></h3>
    <ul class="product_category m_top25 clearfix">
      <li><a href="#">第三分類（カテゴリ）</a></li>
      <li><a href="#">第三分類（カテゴリ）</a></li>
      <li><a href="#">第三分類（カテゴリ）</a></li>
      <li><a href="#">第三分類（カテゴリ）</a></li>
      <li><a href="#">第三分類（カテゴリ）</a></li>
      <li><a href="#">第三分類（カテゴリ）</a></li>
    </ul>
    <ul class="product_search">
      <li>出　力　<select name="">
        <option>出　力</option>
      </select>
      </li>
      <li>耐热性能　<select name="">
        <option>耐热性能</option>
      </select>
      </li>　
      <li class="product_number">
      <p>品番で検索</p>
      <%= form_tag "/products", method: :get do %>
        <input name="search" type="text" value="<%= params[:search] %>" /><input name="" type="submit" value="" />
    <% end %>
      </li>
    </ul>
    <ul class="product_list m_top30">
      <% @products.each do |product| %>
        <% if product.is_recommended? %>
        <li>
      <p class="product_dz"><%= image_tag "front/product_tj.png", width: 93, height: 93 %></p>
      <dl class="product_tj">
        <dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
        <dt class="product_dt01">
        <h3 class="product_f21"><%= product.title %></h3>
        <p class="product_f16 m_top5"><%= product.desc %> </p>
        <p class="product_xx m_top15"><a href="/products/<%= product.id %>">查看详情</a></p>
        </dt>
        <dt class="product_dt02"><%= product.category.name %></dt>
      </dl>
      </li>
    <% end %>
      <% if product.is_new? %>
        <li>
      <p class="product_dz"><%= image_tag "front/product_new.png", width: 93, height: 93 %></p>
      <dl class="product_new">
        <dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
        <dt class="product_dt01">
        <h3 class="product_f21"><%= product.title %></h3>
        <p class="product_f16 m_top5"><%= product.desc %></p>
        <p class="product_xx m_top15"><a href="/products/<%= product.id %>">查看详情</a></p>
        </dt>
        <dt class="product_dt02"><%= product.category.name %></dt>
      </dl>
      </li>
    <% end %>
      <% if !product.is_new? and !product.is_recommended? %>
        <li>
      <dl>
        <dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
        <dt class="product_dt01">
        <h3 class="product_f21"><%= product.title %></h3>
        <p class="product_f16 m_top5"><%= product.desc %></p>
        <p class="product_xx m_top15"><a href="/products/<%= product.id %>">查看详情</a></p>
        </dt>
        <dt class="product_dt02"><%= product.category.name %></dt>
      </dl>
      </li>
    <% end %>
    <% end %>
    </ul>
    <p class="m_top45">&nbsp;</p>
  </div>
</div>
<%= render partial: "shared/footer" %>
