<a name="top" id="top"></a>
<%= render partial: "shared/top_header" %>
<div class="t_center"><%= image_tag "front/product_r1_c1.jpg", width: 1401, height: 328, alt: "HIOKI" %></div>
<div class="news_content clearfix">
  <div class="product_left" >
    <h3>产品一览<br /><span class="hioki_f15">Product</span></h3>
    <ul class="m_top10">
      <% @root_categories.each do |r_c| %>
        <li><%= link_to r_c.name, "/categories/#{r_c.id}" %></li>
    <% end %>
    </ul>
  </div>
  <div class="product_right">
    <p class="current"><a href="/">首页</a> > 产品一览</p>
    <h3 class="product_f25 m_top20">全部产品</h3>
    <% if false %>
      <ul class="product_search">
      <li>出　力　<select name="">
        <option>出　力</option>
      </select>
      </li>
      <li>耐热性能　<select name="">
        <option>耐热性能</option>
      </select>
      </li>　
      <li class="product_number">
      <p>品番で検索</p>
      <%= form_tag "/products", method: :get do %>
        <input name="search" type="text" value="<%= params[:search] %>" /><input name="" type="submit" value="" />
    <% end %>
      </li>
    </ul>
  <% end %>
  <%= render partial: "products/products" %>
  <p class="m_top45">&nbsp;</p>
  </div>
</div>
<%= render partial: "shared/footer" %>
