<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="product_banner"></div>
<div class="news_content clearfix">
  <div class="product_left" >
    <h3>产品一览<br /><span class="hioki_f15">Product</span></h3>
    <ul class="m_top10">
      <% @root_categories.each do |r_c| %>
        <li><%= link_to r_c.name, "/categories/#{r_c.id}" %></li>
    <% end %>
    </ul>
  </div>
  <div class="product_right">
    <p class="current"><a href="/index.html">首页</a> > 搜索结果一览</p>
    <ul class="product_list m_top30">
      <% @products.each do |product| %>
        <% if product.is_recommended? && product.is_main_body %>
      <li><a href="/products/<%= product.id %>">
      <p class="product_dz"><%= image_tag "front/product_tj.png", width: 93, height: 93 %></p>
      <dl class="product_tj">
        <dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
        <dt class="product_dt01">
        <h3 class="product_f21"><%= product.title %></h3>
        <p class="product_f16 m_top5"><%= truncate(product.desc, length: 50) %> </p>
        <p class="product_xx m_top15">查看详情</p>
        </dt>
        <dt class="product_dt02"><%= product.try(:category).try(:name) %></dt>
    </dl></a>
      </li>
    <% end %>
      <% if product.is_new? && product.is_main_body %>
      <li><a href="/products/<%= product.id %>">
      <p class="product_dz"><%= image_tag "front/product_new.png", width: 93, height: 93 %></p>
      <dl class="product_new">
        <dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
        <dt class="product_dt01">
        <h3 class="product_f21"><%= product.title %></h3>
        <p class="product_f16 m_top5"><%= truncate(product.desc, length: 50) %> </p>
        <p class="product_xx m_top15">查看详情</p>
        </dt>
        <dt class="product_dt02"><%= product.try(:category).try(:name) %></dt>
    </dl></a>
      </li>
			<% end %>
      <% if !product.is_main_body %>
			<% if product.is_option? && product.summary.present? %>
			<li><a href="/products/<%= product.id %>">
      <dl>
        <dd><%= image_tag product.banner.url, width: 160 %></dd>
        <dt class="product_dt01">
        <h3 class="product_f21"><%= product.title %></h3>
        <p class="product_f16 m_top5"><%= truncate(product.desc, length: 50) %> </p>
        <p class="product_xx m_top15">查看详情</p>
        </dt>
        <dt class="product_dt02"><%= product.try(:category).try(:name) %></dt>
    </dl></a>
				</li>
			<% else %>
			<% product.option_no_products.each do |product| %>
        <li><a href="/products/<%= product.id %>?tag=option">
						<dl>
							<% if product.thumb_image.present? %>
							<dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
							<% else %>
							<dd><%= image_tag product.banner.url, width: 160 %></dd>
							<% end %>
        <dt class="product_dt01">
        <h3 class="product_f21"><%= product.title %></h3>
        <p class="product_f16 m_top5"><%= truncate(product.desc, length: 50) %> </p>
        <p class="product_xx m_top15">查看详情</p>
        </dt>
        <dt class="product_dt02"><%= product.try(:category).try(:name) %></dt>
    </dl></a>
				</li>
				<% end %>
				<% end %>
				<% else %>
      <li><a href="/products/<%= product.id %>">
					<dl>
						<dd><%= image_tag product.thumb_image.url, width: 160 %></dd>
						<dt class="product_dt01">
							<h3 class="product_f21"><%= product.title %></h3>
                                                        <p class="product_f16 m_top5"><%= truncate(product.desc, length: 50) %> </p>
							<p class="product_xx m_top15">查看详情</p>
						</dt>
						<dt class="product_dt02"><%= product.try(:category).try(:name) %></dt>
				</dl></a>
			</li>
        <% end %>
				<% end %>
    </ul>
    <p class="m_top45">&nbsp;</p>
  </div>
</div>
<%= render partial: "shared/footer" %>
