<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="product_banner"></div>
<div class="news_content clearfix">
  <div class="product_left" >
    <h3>产品一览<br /><span class="hioki_f15">Product</span></h3>
    <ul class="m_top10">
      <% @root_categories.each do |r_c| %>
        <li><%= link_to r_c.name, "/categories/#{r_c.id}" %></li>
    <% end %>
    </ul>
  </div>
  <div class="product_right">
    <p class="current"><a href="/index.html">首页</a> > 搜索结果一览</p>
    <%= render partial: "products/products" %>
    <p class="m_top45">&nbsp;</p>
  </div>
</div>
<%= render partial: "shared/footer" %>
