<% content_for :head do %>
<%= javascript_include_tag 'tab' %>
<script type="text/javascript">        
$(document).ready(function(){
if(location.search.indexOf("option")>0)
ShowSub(0,2);
if(location.search.indexOf("upgrade")>0)
ShowSub(0,4);
if(location.search.indexOf("case")>0)
ShowSub(0,5);
});
</script>
<% end %>

<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="recorder_banner"></div>
<div class="news_content clearfix">
  <div class="product_left" >
    <h3>产品一览<br /><span class="hioki_f15">Product</span></h3>
    <ul class="m_top10">
      <% @root_categories.each do |r_c| %>
        <li><%= link_to r_c.name, "/categories/#{r_c.id}" %></li>
    <% end %>
    </ul>
  </div>
  <div class="product_right">
    <p class="current"><a href="/index.html">首页</a> > <%= link_to "产品一览", "/industries/1/products" %> > <%= raw(product_category_links(@product.category_ids_hash)) %>
> <%= @product.title %></p>
		 <div class="clearfix">
			 <h3 class="product_f25 m_top20 fl"><%= @product.title %></h3>
			 <p class="fr m_top20"><a href="javascript:history.go(-1)"><%= image_tag "front/recorder_return.jpg", width: "135", height: "35" %></a></p>
    </div>
    <p class="m_top30"><%= image_tag @product.banner.url %></p>
    <ul class="recorder_title m_top30 clearfix">
    <% if @summary.present? %>
      <li onclick=ShowSub(0,1) id=S_Menu_01 class=selectd>概　要</li>
    <% end %>
    <% if @spec_table.present? %>
      <li onclick=ShowSub(0,6) id=S_Menu_06>规格表</li>
    <% end %>
      <% if @option_categories.present? %>
      <li onclick=ShowSub(0,2) id=S_Menu_02>选　件</li>
    <% end %>
  <% if @product_attachments.present? %>
      <li onclick=ShowSub(0,3) id=S_Menu_03>PDF样本</li>
    <% end %>
  <% if @upgraded_flag.present? %>
      <li onclick=ShowSub(0,4) id=S_Menu_04>升级・软件</li>
    <% end %>
      <% if @utilities.present? %>
      <li onclick=ShowSub(0,5) id=S_Menu_05>解决方案</li>
    <% end %>
    </ul>
    <% if @summary.present? %>
      <div id="pic_corpus_01" class="recorder_content">
      <%=raw @summary %>
    </div>
  <% end %>
    <% if @spec_table.present? %>
    <%= render partial: "spec_table" %>
  <% end %>
    <% if @option_categories.present? %>
      <%= render partial: "options" %>
  <% end %>
  <% if @product_attachments.present? %>
    <%= render partial: "pdf" %>
  <% end %>
  <% if @upgraded_flag.present? %>
    <%= render partial: "upgrade" %>
  <% end %>
      <% if @utilities.present? %>
    <%= render partial: "case" %>
  <% end %>
		<% if @related_products.present? %>
    <%= render partial: "related_products" %>
		<% end %>
    <p class="m_top45">&nbsp;</p>
  </div>
</div>
<%= render partial: "shared/footer" %>
