<% content_for :head do %>
<%= javascript_include_tag 'tab' %>
<% end %>

<a name="top" id="top"></a>
<%= render partial: "shared/top_header" %>
<div class="t_center"><%= image_tag "front/product_r1_c1.jpg", width: 1401, height: 328, alt: "HIOKI" %></div>
<div class="news_content clearfix">
  <div class="product_left" >
	<h3>产品一览<br /><span class="hioki_f15">Product</span></h3>
	<ul class="m_top10">
	  <li><a href="#">电子测量仪表</a></li>
	  <li><a href="#">现场测试仪器</a></li>
	  <li><a href="#">安全标准测量仪表</a></li>
      <li><a href="#">记录仪・数据记录仪</a></li>
      <li><a href="#">钳式传感器</a></li>
      <li><a href="#">钳式传感器</a></li>
	  <li><a href="#">现场测试仪器</a></li>
      <li><a href="#">钳式传感器</a></li>
      <li><a href="#">电子测量仪表</a></li>
      <li><a href="#">信号发生器</a></li>
      <li><a href="#">环境测量仪表</a></li>
      <li><a href="#">电力测量仪器</a></li>
      <li><a href="#">记录仪、存储记录仪</a></li>
	</ul>
  </div>
  <div class="product_right">
  	<p class="current"><a href="/">首页</a> > 产品一览</p>
    <h3 class="product_f25 m_top20">存储记录仪 8860-50</h3>
    <p class="m_top10">高速信号波形捕捉, 同时记录多路信号</p>
    <p class="m_top30"><%= image_tag "front/recorder_r1_c1.jpg", width: 480, height: 280 %></p>
    <ul class="recorder_title m_top30 clearfix">
      <li onclick=ShowSub(0,1) id=S_Menu_01 class=selectd>概　要</li>
      <li onclick=ShowSub(0,2) id=S_Menu_02>选　件</li>
      <li onclick=ShowSub(0,3) id=S_Menu_03>PDF样本</li>
      <li onclick=ShowSub(0,4) id=S_Menu_04>升级・软件</li>
      <li onclick=ShowSub(0,5) id=S_Menu_05>应用案例</li>
    </ul>
    <div id="pic_corpus_01" class="recorder_content">
      <p class="product_f25">工作速度比以前机型提高3倍</p>
	  <p class="m_top20">最大64通道/128通道的多通道数据采集(使用8958扫描单元)<br />
20MS/s的高速采样读取<br />
搭载了LAN/USB/PC卡槽等各种接口<br />
有丰富的温度、FFT、应变、F/V、电荷等输入单元<br />
<br />
仅8860-50，8861-50本机不能使用，请将另外选购的输入单元装在本机上一起使用。<br />
*无论何种情况，都需要1种内存扩展板。8861-50同种类的需2块，订货时请指定。
      </p>
      <h3 class="recorder_basic">基本参数</h3>
      <div class="m_top25"><table width="925" border="0" cellspacing="0" cellpadding="0" class="recorder_parameter">
  <tr>
    <th width="216" bgcolor="#E3E3E3">&nbsp;</th>
    <th width="350" align="left" bgcolor="#F3F8FB">8860-50</th>
    <th align="left" bgcolor="#FDECD2">8861-50</th>
  </tr>
  <tr>
    <td bgcolor="#F7F7F7">单元</td>
    <td bgcolor="#F6FAFB">最大4单元</td>
    <td bgcolor="#FEFAF1">最大4单元</td>
  </tr>
  <tr>
    <td bgcolor="#F7F7F7">输入通道数</td>
    <td bgcolor="#F6FAFB">最大4单元</td>
    <td bgcolor="#FEFAF1">最大4单元</td>
  </tr>
  <tr>
    <td bgcolor="#F7F7F7">测量量程</td>
    <td bgcolor="#F6FAFB">最大4单元</td>
    <td bgcolor="#FEFAF1">最大4单元</td>
  </tr>
  <tr>
    <td bgcolor="#F7F7F7">最大输入电压</td>
    <td bgcolor="#F6FAFB">最大4单元</td>
    <td bgcolor="#FEFAF1">最大4单元</td>
  </tr>
  <tr>
    <td bgcolor="#F7F7F7">频率特性</td>
    <td bgcolor="#F6FAFB">最大4单元</td>
    <td bgcolor="#FEFAF1">最大4单元</td>
  </tr>
  <tr>
    <td bgcolor="#F7F7F7">单元</td>
    <td bgcolor="#F6FAFB">最大4单元</td>
    <td bgcolor="#FEFAF1">最大4单元</td>
  </tr>
  <tr>
    <td bgcolor="#F7F7F7">输入通道数</td>
    <td colspan="2">最大4单元</td>
    </tr>
  <tr>
    <td bgcolor="#F7F7F7">测量量程</td>
    <td colspan="2">最大4单元</td>
    </tr>
  <tr>
    <td bgcolor="#F7F7F7">最大输入电压</td>
    <td colspan="2">最大4单元</td>
    </tr>
  <tr>
    <td bgcolor="#F7F7F7">频率特性</td>
    <td colspan="2">最大4单元</td>
    </tr>
  <tr>
    <td bgcolor="#F7F7F7">单元</td>
    <td colspan="2">最大4单元</td>
    </tr>
</table>
      </div>
    </div>
    <div id="pic_corpus_02" class="recorder_content">
      <p class="recorder_f16">注意：无论何种情况，都需要1种内存扩展板。8861-50同种类的需2块，订货时请指定</p>
      <h3 class="recorder_basic">工厂装配选件 (需指定：非用户安装)</h3>
      <div class="recorder_option clearfix">
      	<dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            <p class="recorder_blue m_top10">※仅可安装DC电源单元9684或探头电源单元9687其中之一。若需要同时安装请联系HIOKI。</p>
          </dt>
        </dl>
        <dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            
          </dt>
        </dl>
        <dl class="recorder_assembly">
					<dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            
          </dt>
        </dl>
        <dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            
          </dt>
        </dl>
        <dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            
          </dt>
        </dl>
        <dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            
          </dt>
        </dl>
      </div>
      <h3 class="recorder_basic">工厂装配选件 (需指定：非用户安装)</h3>
      <div class="recorder_option clearfix">
      	<dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            <p class="recorder_blue m_top10">※仅可安装DC电源单元9684或探头电源单元9687其中之一。若需要同时安装请联系HIOKI。</p>
          </dt>
        </dl>
        <dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            
          </dt>
        </dl>
        <dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            
          </dt>
        </dl>
        <dl class="recorder_assembly">
          <dd class="fl"><%= image_tag "front/recorder02_02.jpg", width: 140, height: 100 %></dd>
          <dt>
          	<h3 class="recorder_f18">内存扩展板(32MW) 9715-50</h3>
            <p>容量 32 M</p>
            
          </dt>
        </dl>
      </div>
    </div>
    <div id="pic_corpus_03" class="recorder_content">
      <p class="product_f25">PDF样张</p>
      <ul class="m_top30 clearfix">
      	<li class="recorder_pdf"><a href="#">存储记录仪 8860-50, 8861-50</a></li>
        <li class="recorder_pdf"><a href="#">存储记录仪 8860-50, 8861-50</a></li>
        <li class="recorder_pdf"><a href="#">存储记录仪 8860-50, 8861-50</a></li>
        <li class="recorder_pdf"><a href="#">存储记录仪 8860-50, 8861-50</a></li>
      </ul>
    </div>
    <h3 class="recorder_basic">相关产品</h3>
    <div class="m_top15 clearfix">
      <div class="recorder_related">
      	<p class="recorder_jly">记录仪</p>
        <p><%= image_tag "front/recorder_r5_c3.jpg", width: 250, height: 180 %></p>
        <p class="recorder_f18">存储记录仪 8860-50<br />MR8847A</p>
        <p class="recorder_blue">高速信号波形捕捉, 同时记录多路信号</p>
      </div>
      <div class="recorder_related">
      	<p class="recorder_jly">记录仪</p>
        <p><%= image_tag "front/recorder_r5_c3.jpg", width: 250, height: 180 %></p>
        <p class="recorder_f18">存储记录仪 8860-50<br />MR8847A</p>
        <p class="recorder_blue">高速信号波形捕捉, 同时记录多路信号</p>
      </div>
      <div class="recorder_related">
      	<p class="recorder_jly">记录仪</p>
        <p><%= image_tag "front/recorder_r5_c3.jpg", width: 250, height: 180 %></p>
        <p class="recorder_f18">存储记录仪 8860-50<br />MR8847A</p>
        <p class="recorder_blue">高速信号波形捕捉, 同时记录多路信号</p>
      </div>
    </div>
    <p class="m_top45">&nbsp;</p>
  </div>
</div>
<%= render partial: "shared/footer" %>
