<% content_for :head do %>
  <%= javascript_include_tag 'tab' %>
<% end %>

<a name="top" id="top"></a>
<%= render partial: "shared/top_header" %>
<div class="t_center"><%= image_tag "front/product_r1_c1.jpg", width: 1401, height: 328, alt: "HIOKI" %></div>
<div class="news_content clearfix">
  <div class="product_left" >
    <h3>产品一览<br /><span class="hioki_f15">Product</span></h3>
    <ul class="m_top10">
      <% @root_categories.each do |r_c| %>
        <li><%= link_to r_c.name, "/categories/#{r_c.id}" %></li>
    <% end %>
    </ul>
  </div>
  <div class="product_right">
    <p class="current"><a href="/">首页</a> > <%= link_to "产品一览", "/products" %> > <%= @product.title %></p>
    <h3 class="product_f25 m_top20"><%= @product.category.name %> <%= @product.sku%></h3>
    <p class="m_top10"><%= @product.desc %></p>
    <p class="m_top30"><%= image_tag @product.banner.url %></p>
    <ul class="recorder_title m_top30 clearfix">
      <li onclick=ShowSub(0,1) id=S_Menu_01 class=selectd>概　要</li>
      <li onclick=ShowSub(0,2) id=S_Menu_02>选　件</li>
      <li onclick=ShowSub(0,3) id=S_Menu_03>PDF样本</li>
      <li onclick=ShowSub(0,4) id=S_Menu_04>升级・软件</li>
      <li onclick=ShowSub(0,5) id=S_Menu_05>应用案例</li>
    </ul>
    <div id="pic_corpus_01" class="recorder_content">
      <%=raw @product.summary %>
    </div>
    <%= render partial: "options" %>
    <%= render partial: "pdf" %>
    <%= render partial: "upgrade" %>
    <%= render partial: "case" %>
		<% if @related_products.present? %>
    <%= render partial: "related_products" %>
		<% end %>
    <p class="m_top45">&nbsp;</p>
  </div>
</div>
<%= render partial: "shared/footer" %>
