<ul class="sidebar-menu">
  <li class="<%= active?(:home) %>"> <%= link_to [:admin, :root] do %>
    <i class="fa fa-dashboard"></i> <span>主页</span>
    <% end %>
  </li>

  <!-- Administrator, Super user  -->
  <li class="<%= active?(:industries) %>">
    <%= link_to [:admin, :industries] do %>
    <i class="fa fa-industry"></i> <span>行业管理</span>
    <% end %>
  </li>
	
  <li class="<%= active?(:categories) %>">
    <%= link_to [:admin, :categories] do %>
    <i class="fa fa-tags"></i> <span>分类管理</span>
    <% end %>
  </li>
  <li class="<%= active?(:products) %>">
    <%= link_to [:admin, :products] do %>
    <i class="fa fa-table"></i> <span>产品管理</span>
    <% end %>
  </li>
	<li class="<%= active?(:options) %>">
    <%= link_to [:admin, :options] do %>
    <i class="fa fa-gear"></i> <span>选件管理</span>
    <% end %>
	</li>
	<li class="<%= active?(:news_categories) %>">
    <%= link_to [:admin, :news_categories] do %>
    <i class="fa fa-reorder"></i> <span>新闻分类管理</span>
    <% end %>
	</li>
	<li class="<%= active?(:news) %>">
    <%= link_to admin_news_index_path do %>
    <i class="fa fa-rss"></i> <span>新闻管理</span>
    <% end %>
	</li>
	<li class="<%= active?(:pdf_categories) %>">
    <%= link_to [:admin, :pdf_categories] do %>
    <i class="fa fa-file-pdf-o"></i> <span>PDF分类管理</span>
    <% end %>
  </li>
  <li class="<%= active?(:product_attachments) %>">
    <%= link_to [:admin, :product_attachments] do %>
    <i class="fa fa-book"></i> <span>PDF文件管理</span>
    <% end %>
  </li>
	<li class="<%= active?(:utilities) %>">
    <%= link_to [:admin, :utilities] do %>
    <i class="fa fa-plug"></i> <span>便利工具管理</span>
    <% end %>
  </li>

  <li class="<%#= active?(:users) %>">
			 <%= link_to "/usercenter/admin/login.php" do %>
       <i class="fa fa-users"></i> <span>会员系统</span>
			 <% end %>
  </li>
  <li class="">
    <%= link_to [:admin, :logout], method: :delete do %>
    <i class="fa fa-sign-out"></i> <span>退出登录</span>
    <% end %>
  </li>
  <!--
			<li class="treeview <%#= active?(:users, :archive_messages, :chat_images) %>"> 
				<%#= link_to '#' do %>
				<i class="fa fa-table"></i> <span>用户管理</span>
				<i class="fa fa-angle-left pull-right"></i>
				<%# end %>
				<ul class="treeview-menu">
					<li class="<%#= active?(users: :index) %>"> 
						<%#= link_to "#" do %> 
						<i class="fa fa-angle-double-right"></i> Users list 
						<%# end %> 
					</li>
				</ul>
			</li>
			-->
</ul>
