<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <title><%= @title %>｜HIOKI-日置(上海) 商贸有限公司</title>
		<%= stylesheet_link_tag 'style' %>
		<%= javascript_include_tag 'scrollsmoothly' %>
		<%= javascript_include_tag 'jquery-1.9.1' %>
		<script type="text/javascript">           
	$(document).ready(function(){
	$(".sidebar_search").mouseover(function() {
  $(this).stop();
  $(this).animate({width: 425}, 400);
	})
	$(".sidebar_search").mouseout(function() {
  $(this).stop();
  $(this).animate({width: 135}, 400);
	});
	});
</script>
<script type="text/javascript">           
	$(document).ready(function(){
	$(".sidebar_search02").mouseover(function() {
  $(this).stop();
  $(this).animate({width: 425}, 400);
	})
	$(".sidebar_search02").mouseout(function() {
  $(this).stop();
  $(this).animate({width: 135}, 400);
	});
	});
</script>
<%= javascript_include_tag 'main' %>
<%= csrf_meta_tags %>
<%= yield :head %>
	</head>

  <body>
    <%= yield %>
  </body>
</html>
